{% comment %}
    Renders a product card for search

    Accepts:
    - article: {Object} Product Liquid object
    - show_excerpt: {bool}
    - classes: {String}

    Usage:
    {% render 'card-blog', article: article %}
{% endcomment %}

<a href="{{ article.url }}" class="oe-card-blog">
  {%- if article.image != blank -%}
  <div class="oe-card-blog__image-wrapper">
      {{ article.image | image_url: width: 550 | image_tag:
        loading: 'lazy',
        width: 357,
        height: 240,
        class: "oe-card-blog__image",
        alt: article.title | escape
      }}
    </div>
  {%- endif -%}
  <div class="oe-card-blog__content">
    <div class="oe-card-blog__meta">
      <span>{{ article.tags | join: ', ' }}</span>
      <span>{{ article.published_at | time_tag: format: 'date' }}</span>
    </div>
    <h3 class="oe-card-blog__title">{{ article.title }}</h3>
    {% if show_excerpt %}
      <p class="oe-card-blog__text">{{ article.excerpt }}</p>
    {% endif %}
    {% render 'button', variation: 'primary', size: 'big', label: 'Shop now', classes: "oe-card-blog__button", label: "Read more" %}
  </div>
</a>
