
{%- assign props = product.metafields.overeasy.props.value -%}
{%- assign type = product.metafields.custom.product_type.value -%}
{%- assign ingredient_images = product.images | where: 'alt', "ingredient" -%}
{%- assign vertical_images = product.images | where: 'alt', "vertical" -%}
{%- assign nutrition_images = product.images | where: 'alt', "nutrition" -%}

<div class="nutrition-info">
    <div class="nutrition-info-content">
        {% assign product_ingredients = product.description | split: 'Ingredients:' | last %}
        <div class="nutrition-info-description"><strong>Ingredients:</strong><br>{{ props.ingredients }}.</div>
        <div class="nutrition-info-props">
            <div class="text-center m2-valprop-el">
                <h2 class="m2-valprop-val">{{props.protein_count}}</h2>   
                {% if type == 'Bar' %}             
                    <p class="m2-valprop-name">Protein</p>
                {% endif %}             
                {% if type == 'Shake' %}             
                    <p class="m2-valprop-name">Protein +<br>Colagen</p>
                {% endif %}             
            </div>
            <div class="divider"></div>
            <div class="text-center m2-valprop-el">
                <h2 class="m2-valprop-val">{{props.fiber_count}}</h2>
                <p class="m2-valprop-name">Fiber</p>
            </div>
            <div class="divider"></div>
            <div class="text-center m2-valprop-el">
                <h2 class="m2-valprop-val">{{props.ingredient_count}}</h2>
                {% if type == 'Bar' %}
                    <p class="brown-secondary  m2-valprop-name">Ingredients</p>
                {% endif %}
                {% if type == 'Shake' %}
                    <p class="brown-secondary  m2-valprop-name">Vitamins &<br>Minerals</p>
                {% endif %}
            </div>
        </div>
        <div id="ingredients" class="nutrition-info-ingredients" style="margin: 20px 0; max-width: 100%;">
            {% for pimg in ingredient_images %}
                <img class="object-scale-down" src="{{pimg|img_url:'200x'}}"/>
            {% endfor %}        
        </div>
    </div>
    <div class="nutrition-info-facts">
        {% if vertical_images[0] != blank %}
            <div class="nutrition-info-fact-image-wrap">
                <img style="width:100%;" src="{{vertical_images[0]|img_url:'600x'}}">
            </div>
        {% endif %}
        {% if nutrition_images[0] != blank %}
            <div class="nutrition-info-fact-image-wrap">
                <img style="width:100%;" src="{{nutrition_images[0]|img_url:'600x'}}">
            </div>
        {% endif %}
    </div>
</div>
