{% comment %}
    Renders a product card for search

    Accepts:
    - cart: {Object} Cart object
    - heading: {String}
    - text: {String}
    - message: {String}
    - id: {String}

    Usage:
    {% render 'value-builder', cart: cart, heading: heading, text: text %}
{% endcomment %}


{{ 'component-value-builder.css' | asset_url | stylesheet_tag }}


{% for cartItem in cart.items %}
  {% if cartItem.product.metafields.custom.product_type == "Bar"  %}
    {% assign quantity = cartItem.quantity %}
      
    {% for i in (1..quantity) %}
      {% if pre_counter <= 4 or pre_counter == null %}
        {% capture _ %}{% increment pre_counter %}{% endcapture %}
          
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

<section id="{{ id }}" class="oe-value-builder">
  {% if pre_counter < 5 or pre_counter == null %}
    <div class="oe-value-builder__content">
      <h3 class="oe-value-builder__heading">{{ heading }}</h3>
      <p class="oe-value-builder__text">{{ text }}</p>
      <div class="oe-value-builder__items">
        {% for cartItem in cart.items %}
          {%- if cartItem.product.metafields.custom.product_type == "Bar" -%}
            {%- assign quantity = cartItem.quantity -%}
            
            {% for i in (1..quantity) %}
              {%- if bar_counter <= 4 or bar_counter == null -%}
                <div class="oe-value-builder__item">
                  {% capture __ %}{% increment bar_counter %}{% endcapture %}
                  {{ cartItem.image | image_url: width: 180 | image_tag:
                    loading: 'lazy',
                    width: cartItem.featured_image.width,
                    width: 180,
                    height: 240,
                    class: "oe-value-builder__item-image",
                    alt: cartItem.featured_image.alt | escape
                  }}
                </div>
              {%- endif -%}
            {% endfor %}
          {%- endif -%}
        {% endfor %}
    
        {% for i in (bar_counter..4) %}
          {% assign boxNumber = i | plus: 1 %}
    
          <div class="oe-value-builder__item oe-value-builder__item--empty">
            <p class="oe-value-builder__item-text">
              {% if boxNumber == 5 %}
                {{ 'FREE BOX' }}
              {% else %}
                {{ 'Box ' | append: boxNumber }}
              {% endif %}
            </p>
          </div>
        
        {% endfor %}
      </div>
    </div>
  {% else %}
    <p class="oe-value-builder__message">
      <strong>
        {{ message }}
      </strong>
    </p>
  {% endif %}
</section>
