{{ 'section-oe-contact-form.css' | asset_url | stylesheet_tag }}

<section class="oe-contact-form__section">
  <style>
    .oe-contact-form__section {
      --oe-contact-form-section-background-color: var(--oe-color-{{ section.settings.background_color }});
      --oe-contact-form-section-content-align: {{ section.settings.content_align }};
    }
  </style>
  <div class="oe-contact-form">
    {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
      <div class="oe-contact-form__content">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2 class="oe-contact-form__title">{{ block.settings.heading }}</h2>
            {%- when 'line' -%}
              <hr class="oe-contact-form__line">
            {%- when 'text' -%}
              <p class="oe-contact-form__text">{{ block.settings.text }}</p>
            {%- when 'link' -%}
              <a href="mailto:{{ block.settings.mail_address }}" target="_blank" class="main-contact__contacts-link">{% render 'icon-mail' %}{{ block.settings.mail_address }}</a>
          {%- endcase -%}
        {%- endfor -%}
      </div>
      {%- if form.posted_successfully? -%}
        <h3 class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</h3>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
            </a>
          </li>
        </ul>
      {%- endif -%}
      <div class="contact__fields">
        <div class="field">
          <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
          <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
        </div>
        <div class="field field--with-error">
          <input
            autocomplete="email"
            type="email"
            id="ContactForm-email"
            class="field__input"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="ContactForm-email-error"
            {% endif %}
            placeholder="{{ 'templates.contact.form.email' | t }}"
          >
          <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
          {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
            </small>
          {%- endif -%}
        </div>
      </div>
      <div class="field">
        <textarea
          rows="10"
          id="ContactForm-body"
          class="text-area field__input"
          name="contact[{{ 'templates.contact.form.comment' | t }}]"
          placeholder="{{ 'templates.contact.form.comment' | t }}"
        >
          {{- form.body -}}
        </textarea>
        <label class="form__label field__label" for="ContactForm-body">{{ 'templates.contact.form.comment' | t }}</label>
      </div>
      <div class="contact__button">
        {% render 'button', variation: 'primary', color: 'black' , size: 'big', label: 'Send message' %}
      </div>
    {%- endform -%}
  </div>
</section>

{% schema %}
{
  "name": "OE Contact Form",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "background_color",
      "options": [
        {
          "value": "teal",
          "label": "Teal"
        },
        {
          "value": "yellow",
          "label": "Yellow"
        },
        {
          "value": "black",
          "label": "Black"
        }
      ],
      "default": "teal",
      "label": "Background color"
    },
    {
      "type": "select",
      "id": "content_align",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "flex-start",
      "label": "Content align"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Headline",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Have more questions?",
          "label": "Headline"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Great! Just fill up the form below and our team will get back to you ASAP.",
          "label": "Text"
        }
      ]
    },
    {
      "type": "line",
      "name": "Horizontal line",
      "settings": []
    },
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "type": "text",
          "id": "mail_address",
          "default": "hello@overeasyfoods.com",
          "label": "Mail address"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "OE Contact Form"
    }
  ]
}
{% endschema %}
