{%- style -%}
.oe-customer-quotes {
  padding: 110px 0 72px 0;
  background-color: #F8F3E7;
  overflow: hidden;
  position: relative;
}
.oe-customer-quotes__header{
  text-align: center;
  text-transform: uppercase;
}

.oe-customer-quotes__header span {
  display:block;
}
.oe-customer-quotes__slider {
  margin: 32px 0 32px 0;
  display: flex;
  justify-content: space-between;
}

.oe-customer-quotes__slide {
  margin-right: 12px;
  margin-left: 12px;
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 41px 35px 22px rgba(0, 0, 0, 0.01), 23px 20px 18px rgba(0, 0, 0, 0.05), 10px 9px 14px rgba(0, 0, 0, 0.09), 3px 2px 7px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
}

.oe-customer-quotes__slide:first-child {
  margin-left: 0;
}

.oe-customer-quotes__slide:last-child {
  margin-right: 0;
}

.oe-customer-quotes__text {
  line-height: 160%;
  margin-bottom: 28px;
}

.oe-customer-quotes__meta {
 display: flex;
 align-items: center;
}

.oe-customer-quotes__customer {
  font-weight: 700;
}

.oe-customer-quotes__divider {
  border-left: 1px solid #666666;
  height: 18px;
  margin: 0 19px 0 19px;
}

.oe-customer-quotes__pagination {
    display: flex;
    gap: 9px;
    justify-content: center;
    margin-top: 32px;
  }

  @media screen and (min-width: 1260px) {
    .oe-customer-quotes__pagination {
      display: none;
    }
}

  .oe-customer-quotes__pagination-bullet {
    display: block;
    width: 9px;
    height: 9px;
    background-color: var(--oe-color-copy-light);
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
  }
  
  .oe-customer-quotes__pagination-bullet.is-active {
    background-color: var(--oe-color-yellow);
  }

  .oe-customer-quotes__stars {
    width: 144px;
    height: 24px;
    background-size: 144px 24px;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,<svg width="145" height="24" viewBox="0 0 145 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.1573 4.13231C11.5799 2.83163 13.42 2.83163 13.8427 4.13231L14.8772 7.31629C15.0662 7.89797 15.6083 8.2918 16.2199 8.2918H19.5677C20.9353 8.2918 21.5039 10.0418 20.3975 10.8457L17.6891 12.8135C17.1943 13.173 16.9872 13.8102 17.1762 14.3919L18.2107 17.5759C18.6334 18.8766 17.1447 19.9582 16.0383 19.1543L13.3298 17.1865C12.835 16.827 12.165 16.827 11.6702 17.1865L8.96173 19.1543C7.85531 19.9582 6.36663 18.8766 6.78924 17.5759L7.82378 14.3919C8.01278 13.8102 7.80573 13.173 7.31093 12.8135L4.60247 10.8457C3.49605 10.0418 4.06468 8.2918 5.43228 8.2918H8.78012C9.39174 8.2918 9.93379 7.89797 10.1228 7.31629L11.1573 4.13231Z" fill="%23FDB515"/><path d="M41.1573 4.13231C41.5799 2.83163 43.42 2.83163 43.8427 4.13231L44.8772 7.31629C45.0662 7.89797 45.6083 8.2918 46.2199 8.2918H49.5677C50.9353 8.2918 51.5039 10.0418 50.3975 10.8457L47.6891 12.8135C47.1943 13.173 46.9872 13.8102 47.1762 14.3919L48.2107 17.5759C48.6334 18.8766 47.1447 19.9582 46.0383 19.1543L43.3298 17.1865C42.835 16.827 42.165 16.827 41.6702 17.1865L38.9617 19.1543C37.8553 19.9582 36.3666 18.8766 36.7892 17.5759L37.8238 14.3919C38.0128 13.8102 37.8057 13.173 37.3109 12.8135L34.6025 10.8457C33.4961 10.0418 34.0647 8.2918 35.4323 8.2918H38.7801C39.3917 8.2918 39.9338 7.89797 40.1228 7.31629L41.1573 4.13231Z" fill="%23FDB515"/><path d="M71.1573 4.13231C71.5799 2.83163 73.42 2.83163 73.8427 4.13231L74.8772 7.31629C75.0662 7.89797 75.6083 8.2918 76.2199 8.2918H79.5677C80.9353 8.2918 81.5039 10.0418 80.3975 10.8457L77.6891 12.8135C77.1943 13.173 76.9872 13.8102 77.1762 14.3919L78.2107 17.5759C78.6334 18.8766 77.1447 19.9582 76.0383 19.1543L73.3298 17.1865C72.835 16.827 72.165 16.827 71.6702 17.1865L68.9617 19.1543C67.8553 19.9582 66.3666 18.8766 66.7892 17.5759L67.8238 14.3919C68.0128 13.8102 67.8057 13.173 67.3109 12.8135L64.6025 10.8457C63.4961 10.0418 64.0647 8.2918 65.4323 8.2918H68.7801C69.3917 8.2918 69.9338 7.89797 70.1228 7.31629L71.1573 4.13231Z" fill="%23FDB515"/><path d="M101.157 4.13231C101.58 2.83163 103.42 2.83163 103.843 4.13231L104.877 7.31629C105.066 7.89797 105.608 8.2918 106.22 8.2918H109.568C110.935 8.2918 111.504 10.0418 110.398 10.8457L107.689 12.8135C107.194 13.173 106.987 13.8102 107.176 14.3919L108.211 17.5759C108.633 18.8766 107.145 19.9582 106.038 19.1543L103.33 17.1865C102.835 16.827 102.165 16.827 101.67 17.1865L98.9617 19.1543C97.8553 19.9582 96.3666 18.8766 96.7892 17.5759L97.8238 14.3919C98.0128 13.8102 97.8057 13.173 97.3109 12.8135L94.6025 10.8457C93.4961 10.0418 94.0647 8.2918 95.4323 8.2918H98.7801C99.3917 8.2918 99.9338 7.89797 100.123 7.31629L101.157 4.13231Z" fill="%23FDB515"/><path d="M131.157 4.13231C131.58 2.83163 133.42 2.83163 133.843 4.13231L134.877 7.31629C135.066 7.89797 135.608 8.2918 136.22 8.2918H139.568C140.935 8.2918 141.504 10.0418 140.398 10.8457L137.689 12.8135C137.194 13.173 136.987 13.8102 137.176 14.3919L138.211 17.5759C138.633 18.8766 137.145 19.9582 136.038 19.1543L133.33 17.1865C132.835 16.827 132.165 16.827 131.67 17.1865L128.962 19.1543C127.855 19.9582 126.367 18.8766 126.789 17.5759L127.824 14.3919C128.013 13.8102 127.806 13.173 127.311 12.8135L124.602 10.8457C123.496 10.0418 124.065 8.2918 125.432 8.2918H128.78C129.392 8.2918 129.934 7.89797 130.123 7.31629L131.157 4.13231Z" fill="%23FDB515"/></svg>')
}

{%- endstyle -%}

<section class="oe-customer-quotes section-{{ section.id }}" data-section-name="Customer Quotes">
{% if section.settings.show_top_wave %}
 {% render 'waves-top', wave_color: section.settings.top_wave_color %}
{% endif %}
  <div class="oe-customer-quotes__wrapper container">
    <div class="oe-customer-quotes__header">
      <span class="h3">{{ section.settings.headline }}</span>
      <span>{{ section.settings.sub-headline }}</span>
    </div>
    <div class="oe-customer-quotes__slider">
      {% for block in section.blocks %}
        <div class="oe-customer-quotes__slide">
          <div class="oe-customer-quotes__text">{{ block.settings.text }}</div>
            <div class="oe-customer-quotes__meta">
              <div class="oe-customer-quotes__customer">{{ block.settings.customer }}</div>
              <div class="oe-customer-quotes__divider"></div>
              <div class="oe-customer-quotes__stars"></div>
            </div>
        </div>
      {% endfor %}
    </div>
    <div class="oe-customer-quotes__pagination js-oe-customer-quotes__pagination"></div>
  </div>
  {% if section.settings.show_bottom_wave %}
  {% render 'waves-bottom', wave_color: section.settings.bottom_wave_color %}
{% endif %}
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {

      const swiperParams = {
        slideClass: 'oe-customer-quotes__slide',
        wrapperClass: 'oe-customer-quotes__slider',
        slideActiveClass: 'is-active',
        slidesPerView: 'auto',
        centeredSlides: true,
        initialSlide: 1,
        loop: 0,
        pagination: {
          el: '.js-oe-customer-quotes__pagination',
          bulletClass: 'oe-customer-quotes__pagination-bullet',
          bulletActiveClass: 'is-active'
        },
        breakpoints: {
          750: {
            slidesPerView: 2,
            centeredSlides: true,
            initialSlide: 1,
          },
          1260: {
            slidesPerView: 3,
            centeredSlides: false,
          },
        }
      };
        
      const swiper = new Swiper('.section-{{ section.id }} .oe-customer-quotes__wrapper', swiperParams);
      
  })
</script>

{% schema %}
{
  "name": "OE Customer Quotes",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "default": "Over 1 Million breakfasts served",
      "label": "Headline"
    },
    {
      "type": "text",
      "id": "sub-headline",
      "default": "and the reviews are in",
      "label": "Subheadline"
    },
    {
      "type": "checkbox",
      "id": "show_top_wave",
      "label": "Show top wave",
      "default": false
    },
    {
      "type": "select",
      "id": "top_wave_color",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "oat",
          "label": "Oat"
        },
        {
          "value": "yellow",
          "label": "Yellow"
        }
      ],
      "default": "white",
      "label": "Top wave color"
    },
    {
      "type": "checkbox",
      "id": "show_bottom_wave",
      "label": "Show bottom wave",
      "default": false
    },
    {
      "type": "select",
      "id": "bottom_wave_color",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "oat",
          "label": "Oat"
        },
        {
          "value": "yellow",
          "label": "Yellow"
        }
      ],
      "default": "white",
      "label": "Bottom wave color"
    }
  ],
  "blocks": [
    {
      "name": "Quote",
      "type": "quote",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "customer",
          "label": "Customer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "OE Customer Quotes",
      "category": "Layout"
    }
  ]
}
{% endschema %}
