{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .footer {
    padding: 40px 0;
  }

  .footer-color--red {
    background-color: var(--oe-color-red);
  }

  .footer-color--white {
    background-color: var(--oe-color-white);
  }

  .footer-color--black {
    background-color: var(--oe-color-black);
  }
  .footer-color--red .footer__block--menu {
    border-color: var(--oe-color-white);
  }

  .footer-color--red .footer__block-heading,
  .footer-color--red .footer__block-heading-wrapper svg ,
  .footer-color--red .footer__social-list-link,
  .footer-color--red .oe-checkbox__label,
  .footer-color--red .newsletter-form__message,
  .footer-color--red .footer__block-link-list-link {
    color: var(--oe-color-white);
  }
  .footer-color--white .footer__block--menu {
    border-color: var(--oe-color-black);
  }
  
  .footer-color--white .footer__block-heading,
  .footer-color--white .footer__block-heading-wrapper svg ,
  .footer-color--white .footer__social-list-link,
  .footer-color--white .oe-checkbox__label,
  .footer-color--white .newsletter-form__message,
  .footer-color--white .footer__block-link-list-link {
    color: var(--oe-color-black);
  }
  .footer-color--black .footer__block--menu {
    border-color: var(--oe-color-white);
  }
  
  .footer-color--black .footer__block-heading,
  .footer-color--black .footer__block-heading-wrapper svg ,
  .footer-color--black .footer__social-list-link,
  .footer-color--black .oe-checkbox__label,
  .footer-color--black .newsletter-form__message,
  .footer-color--black .footer__block-link-list-link {
    color: var(--oe-color-white);
  }

  .footer__social-list {
    display: flex;
    justify-content: center;
    gap: 6px;
    list-style: none;
    margin: 64px 0 0;
    padding: 0;
  }

  .footer__block--menu {
    border-bottom: 1px solid;
    margin-bottom: 32px;
  }

  .footer__block--social .footer__block-heading {
    display: none;
  }

  .footer__social-list-link {
    width: 32px;
    display: block;
  }

  .footer__block-heading {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .footer__block-newsletter {
    max-width: 470px;
  }

  .footer__block-newsletter .footer__block-heading {
    font-weight: 500;
    font-size: 25px;
    line-height: 120%;
    margin-bottom: 16px;
    white-space: unset;
    text-transform: unset;
  }

  .footer__block-heading-wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 12px;
  }

  .footer__block-heading-wrapper svg {
    width: 24px;
    transition: transform 0.2s ease-in-out;
  }

  .footer__block-heading-wrapper.is-active svg {
    transform: rotate(45deg)
  }

  .footer__block-link-list {
    transition: height 0.2s ease-in-out;
    overflow: hidden;
  }

  .footer__block-link-list:not(.is-active) {
    display: none;
  }

  .footer__block-link-list-link {
    margin-bottom: 16px;
    display: block;
    text-decoration: none;
  }

  .footer__gallery {
    display: flex;
    margin-bottom: 40px;
    overflow-x: auto;
    width: 100%;
  }

  .footer__gallery-image-wrapper {
    width: 40%;
    position: relative;
    padding-top: 25%;
  }

  .footer__gallery-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .oe-checkbox {
    margin-top: 16px;
  }

  .footer__image {
    display: none;
  }

  @media screen and (min-width: 990px) {
    .footer {
      position: relative;
      padding: 64px 0;
      overflow: hidden;
    }

    .footer__container {
      display: flex;
      justify-content: space-between;
      gap: 40px;
    }

    .footer__blocks-wrapper {
      display: flex;
      justify-content: flex-end;
    }

    .footer__block  {
      margin-left: 40px;
      flex: 1 1 auto;
    }

    .footer__block--menu {
      border-bottom: 0;
      margin-bottom: 0;
    }

    .footer__block-link-list:not(.is-active) {
      display: block;
    }

    .footer__block--social .footer__block-heading {
      display: block;
    }

    .footer__block-newsletter .footer__block-heading {
      font-size: 44px;
    }

    .footer__block-heading-wrapper svg {
      display: none;
    }

    .footer__block-link-list {
      height: auto;
      border-bottom: 0;
      margin-bottom: 0;
    }
    
    .footer__block-link-list-link {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      text-decoration: none;
    }

    .footer__social-list {
      gap: 24px;
      margin-top: 24px;
    }

    .footer__gallery {
      margin-bottom: 64px;
    }

    .footer__gallery-image-wrapper {
      width: 25%;
      position: relative;
      padding-top: 25%;
    }

    
  }

  @media screen and (min-width: 1600px) {
    .footer__image {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translate(-40%, 30%);
    }
  }
{%- endstyle -%}

<footer class="footer footer-color--{{ section.settings.color_scheme }}">
  {%- if template.name != 'index' -%}
  <div class="footer__gallery">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'footer_images' -%}
          <div class="footer__gallery-image-wrapper">
            {{ block.settings.gallery_image_picker | image_url: width: 1000 | image_tag:
              loading: 'lazy',
              width: section.settings.image.width,
              height: 480,
              class: "footer__gallery-image",
              alt: section.settings.image.alt | escape
            }}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
  {%- endif -%} 
  <div class="footer__container container">
    {%- if section.settings.newsletter_enable -%}
      <div class="footer__block-newsletter">
        {%- if section.settings.newsletter_heading != blank -%}
          <h2 class="footer__block-heading">{{ section.settings.newsletter_heading | escape }}</h2>
        {%- endif -%}
        {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form js-newsletter-form' -%}
          {{ form.errors | default_errors }}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="newsletter-form__field-wrapper">
            <div class="field">
              <input
                id="NewsletterForm--{{ section.id }}"
                type="email"
                name="contact[email]"
                class="field__input js-newsletter-form-input"
                value="{{ form.email }}"
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %}
                  autofocus
                  aria-invalid="true"
                  aria-describedby="ContactFooter-error"
                {% elsif form.posted_successfully? %}
                  aria-describedby="ContactFooter-success"
                {% endif %}
                placeholder="{{ 'newsletter.label' | t }}"
                required
              >
              <label class="field__label" for="NewsletterForm--{{ section.id }}">
                {{ 'newsletter.label' | t }}
              </label>
              <button type="submit" class="newsletter-form__button field__button js-newsletter-form-submit" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                {% render 'icon-arrow' %}
              </button>
            </div>
            <div class="oe-checkbox">
              <input
                id="NewsletterForm--consent"
                type="checkbox"
                name="consent"
                class="oe-checkbox__input js-newsletter-form-consent"
                value="consent"
                aria-required="true"
                required
              >
              <label class="oe-checkbox__label" for="NewsletterForm--consent">
               I agree with the privacy policy and terms of use
              </label>
            </div>
            <small class="newsletter-form__message form__message js-newsletter-form-error" style="display: none;" id="ContactFooter-error">You need to fill all required fields.</small>
            {%- if form.errors -%}
              <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
            {%- endif -%}
          </div>
          {%- if form.posted_successfully? -%}
            <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
          {%- endif -%}
        {%- endform -%}
      </div>
    {%- endif -%}
    {%- if section.blocks.size > 0 -%}
      <div class="footer__blocks-wrapper">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'link_list' -%}
              <div class="footer__block {% if block.type == 'link_list' %} footer__block--menu js-accordion{% endif %}">
                {%- if block.settings.heading != blank -%}
                  <div class="footer__block-heading-wrapper js-accordion-button">
                    <h2 class="footer__block-heading">{{- block.settings.heading | escape -}}</h2>
                    {% render 'icon-accordion-plus' %}
                  </div>
                {%- endif -%}
            
              {%- if block.settings.menu != blank -%}
                <ul class="footer__block-link-list list-unstyled js-accordion-content">
                  {%- for link in block.settings.menu.links -%}
                    <li class="footer__block-link-list-item">
                      <a href="{{ link.url }}" class="footer__block-link-list-link">
                        {{ link.title }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
        {%- if section.settings.show_social -%}
          <div class="footer__block footer__block--social">
            <h2 class="footer__block-heading">Connect</h2>
            <ul class="footer__social-list" role="list">
              {%- if settings.social_twitter_link != blank -%}
                <li class="footer__social-list-item">
                  <a href="{{ settings.social_twitter_link }}" class="footer__social-list-link" target="_blank" rel="noopener noreferrer">
                    {%- render 'icon-twitter' -%}
                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_facebook_link != blank -%}
                <li class="footer__social-list-item">
                  <a href="{{ settings.social_facebook_link }}" class="footer__social-list-link" target="_blank" rel="noopener noreferrer">
                    {%- render 'icon-facebook' -%}
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_pinterest_link != blank -%}
                <li class="footer__social-list-item">
                  <a href="{{ settings.social_pinterest_link }}" class="footer__social-list-link" target="_blank" rel="noopener noreferrer">
                    {%- render 'icon-pinterest' -%}
                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li class="footer__social-list-item">
                  <a href="{{ settings.social_instagram_link }}" class="footer__social-list-link" target="_blank" rel="noopener noreferrer">
                    {%- render 'icon-instagram' -%}
                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tiktok_link != blank -%}
                <li class="footer__social-list-item">
                  <a href="{{ settings.social_tiktok_link }}" class="footer__social-list-link" target="_blank" rel="noopener noreferrer">
                    {%- render 'icon-tiktok' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tumblr_link != blank -%}
                <li class="footer__social-list-item">
                  <a href="{{ settings.social_tumblr_link }}" class="footer__social-list-link" target="_blank" rel="noopener noreferrer">
                    {%- render 'icon-tumblr' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_snapchat_link != blank -%}
                <li class="footer__social-list-item">
                  <a href="{{ settings.social_snapchat_link }}" class="footer__social-list-link" target="_blank" rel="noopener noreferrer">
                    {%- render 'icon-snapchat' -%}
                    <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_youtube_link != blank -%}
                <li class="footer__social-list-item">
                  <a href="{{ settings.social_youtube_link }}" class="footer__social-list-link" target="_blank" rel="noopener noreferrer">
                    {%- render 'icon-youtube' -%}
                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_vimeo_link != blank -%}
                <li class="footer__social-list-item">
                  <a href="{{ settings.social_vimeo_link }}" class="footer__social-list-link" target="_blank" rel="noopener noreferrer">
                    {%- render 'icon-vimeo' -%}
                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
  {%- if section.settings.footer_image != blank -%}
    {{ section.settings.footer_image | image_url: width: 300 | image_tag:
      loading: 'lazy',
      width: section.settings.image.width,
      height: 300,
      class: "footer__image",
      alt: section.settings.image.alt | escape
    }}
  {%- endif -%}
</footer>

{% javascript %}
  document.addEventListener('DOMContentLoaded', () => {

    if (window.innerWidth < 990) {
      const footerAccordions = document.querySelectorAll('.js-accordion')

      if (footerAccordions.length) {
        footerAccordions.forEach(accordion => {
          initFooterAccordion(accordion)
        })
      }
    }
  })

  const initFooterAccordion = (element) => {
    const button = element.querySelector('.js-accordion-button')
    const content = element.querySelector('.js-accordion-content')

    button.addEventListener('click', () => {
      button.classList.toggle('is-active')
      slideOut(content)
    })
  }
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "footer_images",
      "name": "Footer gallery image",
      "settings": [
        {
          "type": "image_picker",
          "id": "gallery_image_picker",
          "label": "Gallery image"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "red",
          "label": "Red"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "black",
          "label": "Black"
        }
      ],
      "default": "red",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "image_picker",
      "id": "footer_image",
      "label": "Footer image"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "footer_images"
      }
    ]
  }
}
{% endschema %}
