{%- style -%}
  .oe-heading-{{ section.id }}__section  {
    margin: 0;
    position: relative;

    {% if section.settings.use_border%}
      display: block;
      padding-bottom: 16px;
      border-bottom: 1px solid var(--oe-color-grey-200);
      {% endif %} 
  }

  .oe-heading-{{ section.id }}  {
    color: var(--oe-color-{{ section.settings.color_scheme }});
    text-align: {{ section.settings.mobile_align }};
    font-size: {{ section.settings.mobile_font_size }}px;
    line-height: 1.2;
  }
  
  .oe-heading-{{ section.id }}__section .container{
    max-width: {{ section.settings.max_width }}px;
    padding: 40px 0;
  }

  @media screen and (min-width: 990px) {
    .oe-heading-{{ section.id }}{
      text-align: {{ section.settings.desktop_align }};
      font-size: {{ section.settings.desktop_font_size }}px;

      {% if section.settings.use_border%}
        padding-bottom: 32px;
      {% endif %}
    }

    .oe-heading-{{ section.id }} {
      {% if section.settings.use_border%}
        padding-bottom: 32px;
      {% endif %}
    }
    
    .oe-heading-{{ section.id }}__section .container{
      max-width: {{ section.settings.max_width }}px;
      padding: 80px 0;
    }

    
  }
  .oe-heading-background--white {
    background-color: var(--oe-color-white);
  }
  .oe-heading-background--oat {
    background-color: var(--oe-color-oat);
  }

  .oe-heading-background--yellow {
    background-color: var(--oe-color-yellow);
  }

  .oe-heading-background--flamingo {
    background-color: var(--oe-color-flamingo);
  }

  .oe-heading-background--purple {
    background-color: var(--oe-color-purple);
  }
{%- endstyle -%}

<section class="oe-heading-{{ section.id }}__section oe-heading-background--{{ section.settings.background_color_scheme }}">
  {% if section.settings.show_top_wave %}
    {% render 'waves-top', wave_color: section.settings.top_wave_color %}
   {% endif %}
  <div class="container"> 
    <h{{ section.settings.level }} class="oe-heading-{{ section.id }}">
      {{ section.settings.heading }}
    </h{{ section.settings.level }}>
  </div>
  {% if section.settings.show_bottom_wave %}
    {% render 'waves-bottom', wave_color: section.settings.bottom_wave_color %}
  {% endif %}
</section>

{% schema %}
{
  "name": "OE Heading",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Heading text",
      "label": "Text"
    },
    {
      "type": "select",
      "id": "desktop_align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Heading align - desktop"
    },
    {
      "type": "select",
      "id": "mobile_align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Heading align - mobile"
    },
    {
      "type": "range",
      "id": "level",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Heading level",
      "default": 2
    },
    {
      "type": "range",
      "id": "desktop_font_size",
      "min": 16,
      "max": 55,
      "step": 1,
      "unit": "px",
      "label": "Font size - desktop",
      "default": 32
    },
    {
      "type": "range",
      "id": "mobile_font_size",
      "min": 16,
      "max": 55,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 24
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 600,
      "max": 1300,
      "step": 20,
      "unit": "px",
      "label": "Max width",
      "default": 1300
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "cocoa",
          "label": "Cocoa"
        },
        {
          "value": "black",
          "label": "Black"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "yellow",
          "label": "Yellow"
        }
      ],
      "default": "black",
      "label": "Color"
    },
    {
      "type": "select",
      "id": "background_color_scheme",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "oat",
          "label": "Oat"
        },
        {
          "value": "yellow",
          "label": "Yellow"
        },
        {
          "value": "flamingo",
          "label": "Flamingo"
        },
        {
          "value": "purple",
          "label": "Purple"
        }
      ],
      "default": "white",
      "label": "Background color"
    },
    {
      "type": "checkbox",
      "id": "use_border",
      "label": "Show border",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_top_wave",
      "label": "Show top wave",
      "default": false
    },
    {
      "type": "select",
      "id": "top_wave_color",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "oat",
          "label": "Oat"
        },
        {
          "value": "yellow",
          "label": "Yellow"
        }
      ],
      "default": "white",
      "label": "Top wave color"
    },
    {
      "type": "checkbox",
      "id": "show_bottom_wave",
      "label": "Show bottom wave",
      "default": false
    },
    {
      "type": "select",
      "id": "bottom_wave_color",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "oat",
          "label": "Oat"
        },
        {
          "value": "yellow",
          "label": "Yellow"
        }
      ],
      "default": "white",
      "label": "Bottom wave color"
    }
  ],
  "presets": [
    {
      "name": "OE Heading"
    }
  ]
}
{% endschema %}
