<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'oe-component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}
{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'oe-component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  .header__submenu {
    --oe-submenu-boxes-per-row: {{ section.settings.items_in_row }};
  }

  .header__menu-drawer {
    opacity: 0;
    pointer-events: none;
    height: 0;
  }

  .header__icon--menu .icon-close {
    display: none;
  }

  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  .header__heading-logo {
    max-width: 80px;
  }
  
  @media screen and (min-width: 990px) {
    .header__heading-logo {
      max-width: 100px;
    }

    .header-drawer {
      display: none;
    }
  }

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 44px;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }

    summary.list-menu__item {
      height: 96px;
    }
  }
</style>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-account" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.8422 12.0426C12.4967 12.0426 13.9291 11.4492 15.0998 10.2785C16.2702 9.10797 16.8637 7.67574 16.8637 6.02112C16.8637 4.36707 16.2704 2.93465 15.0996 1.76373C13.9289 0.593376 12.4965 0 10.8422 0C9.18761 0 7.75539 0.593376 6.58485 1.76392C5.41431 2.93446 4.82074 4.36687 4.82074 6.02112C4.82074 7.67574 5.41431 9.10816 6.58485 10.2787C7.75577 11.4491 9.18819 12.0426 10.8422 12.0426ZM7.62092 2.7998C8.51909 1.90163 9.57271 1.46503 10.8422 1.46503C12.1116 1.46503 13.1654 1.90163 14.0638 2.7998C14.9619 3.69816 15.3987 4.75197 15.3987 6.02112C15.3987 7.29065 14.9619 8.34427 14.0638 9.24263C13.1654 10.141 12.1116 10.5776 10.8422 10.5776C9.57309 10.5776 8.51947 10.1408 7.62092 9.24263C6.72256 8.34446 6.28577 7.29065 6.28577 6.02112C6.28577 4.75197 6.72256 3.69816 7.62092 2.7998Z" fill="#171717"/>
    <path d="M21.3782 19.2238C21.3445 18.7366 21.2762 18.2053 21.1757 17.6441C21.0742 17.0788 20.9436 16.5443 20.7872 16.0559C20.6254 15.551 20.4059 15.0524 20.1341 14.5746C19.8524 14.0787 19.5212 13.6469 19.1497 13.2915C18.7612 12.9198 18.2855 12.6209 17.7354 12.4029C17.1872 12.186 16.5797 12.0762 15.9299 12.0762C15.6747 12.0762 15.4279 12.1809 14.9512 12.4912C14.6579 12.6825 14.3148 12.9038 13.9318 13.1485C13.6043 13.3572 13.1606 13.5527 12.6126 13.7297C12.078 13.9027 11.5352 13.9904 10.9992 13.9904C10.4636 13.9904 9.9208 13.9027 9.38579 13.7297C8.83838 13.5528 8.39454 13.3573 8.06762 13.1487C7.68825 12.9063 7.34492 12.685 7.04719 12.491C6.57092 12.1807 6.32411 12.076 6.06891 12.076C5.41888 12.076 4.81158 12.186 4.2636 12.4031C3.71391 12.6207 3.23802 12.9196 2.84911 13.2917C2.47756 13.6473 2.14645 14.0789 1.86492 14.5746C1.59351 15.0524 1.37378 15.5508 1.21204 16.0561C1.05582 16.5445 0.925171 17.0788 0.8237 17.6441C0.722992 18.2045 0.6549 18.7361 0.62114 19.2243C0.587952 19.7018 0.571167 20.1986 0.571167 20.7006C0.571167 22.0056 0.986015 23.0621 1.80408 23.8413C2.61203 24.6101 3.68091 25 4.98115 25H17.0188C18.3187 25 19.3875 24.6101 20.1957 23.8413C21.0139 23.0627 21.4288 22.0058 21.4288 20.7004C21.4286 20.1967 21.4116 19.6999 21.3782 19.2238ZM19.1856 22.7798C18.6517 23.288 17.9429 23.535 17.0186 23.535H4.98115C4.05666 23.535 3.34789 23.288 2.81421 22.78C2.29064 22.2816 2.0362 21.6013 2.0362 20.7006C2.0362 20.2322 2.05165 19.7697 2.08255 19.3256C2.11269 18.89 2.17429 18.4114 2.26566 17.9029C2.35587 17.4007 2.4707 16.9294 2.60726 16.5028C2.7383 16.0936 2.91702 15.6885 3.13865 15.2983C3.35017 14.9263 3.59355 14.6072 3.86211 14.3501C4.1133 14.1096 4.42992 13.9128 4.803 13.7651C5.14804 13.6286 5.5358 13.5538 5.95676 13.5425C6.00806 13.5698 6.09943 13.6219 6.24744 13.7184C6.54861 13.9147 6.89574 14.1386 7.2795 14.3837C7.71209 14.6595 8.26942 14.9086 8.93527 15.1236C9.616 15.3437 10.3103 15.4554 10.9994 15.4554C11.6885 15.4554 12.383 15.3437 13.0633 15.1237C13.7298 14.9084 14.2869 14.6595 14.7201 14.3833C15.1128 14.1323 15.4502 13.9149 15.7514 13.7184C15.8994 13.6221 15.9907 13.5698 16.0421 13.5425C16.4632 13.5538 16.851 13.6286 17.1962 13.7651C17.5691 13.9128 17.8857 14.1098 18.1369 14.3501C18.4054 14.607 18.6488 14.9261 18.8604 15.2985C19.0822 15.6885 19.2611 16.0938 19.3919 16.5026C19.5287 16.9298 19.6437 17.4009 19.7337 17.9027C19.8249 18.4122 19.8867 18.8909 19.9168 19.3258V19.3262C19.9479 19.7685 19.9636 20.2309 19.9638 20.7006C19.9636 21.6015 19.7091 22.2816 19.1856 22.7798Z" fill="#171717"/>
  </symbol>

  <symbol id="icon-cart" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.47488 19.4454C7.03341 19.4454 5.86493 20.614 5.86493 22.0554C5.86493 23.4969 7.03347 24.6653 8.47488 24.6653C9.91635 24.6653 11.0848 23.4968 11.0848 22.0554C11.0849 20.614 9.91635 19.4454 8.47488 19.4454ZM8.47488 23.5054C7.67408 23.5054 7.02492 22.8562 7.02492 22.0554C7.02492 21.2546 7.67408 20.6055 8.47488 20.6055C9.27568 20.6055 9.92484 21.2546 9.92484 22.0554C9.92489 22.8562 9.27568 23.5054 8.47488 23.5054Z" fill="#171717"/>
    <path d="M19.4948 19.4454C18.0533 19.4454 16.8848 20.614 16.8848 22.0554C16.8848 23.4969 18.0534 24.6653 19.4948 24.6653C20.9362 24.6653 22.1047 23.4968 22.1047 22.0554C22.1047 20.614 20.9362 19.4454 19.4948 19.4454ZM19.4948 23.5054C18.694 23.5054 18.0448 22.8562 18.0448 22.0554C18.0448 21.2546 18.694 20.6055 19.4948 20.6055C20.2956 20.6055 20.9447 21.2546 20.9447 22.0554C20.9448 22.8562 20.2956 23.5054 19.4948 23.5054Z" fill="#171717"/>
    <path d="M25.3817 4.22066C25.2609 4.08872 25.0957 4.00613 24.9177 3.98864L6.03895 3.72765L5.51696 2.13265C5.14923 1.06641 4.15077 0.34659 3.02297 0.334656H1.07999C0.759663 0.334656 0.5 0.594318 0.5 0.914651C0.5 1.23498 0.759663 1.49465 1.07999 1.49465H3.02297C3.65359 1.50858 4.20888 1.9135 4.41498 2.50965L8.09794 13.6165L7.80797 14.2835C7.48453 15.1176 7.58167 16.0563 8.06896 16.8065C8.5516 17.5433 9.36356 17.998 10.244 18.0245H21.5249C21.8452 18.0245 22.1049 17.7648 22.1049 17.4445C22.1049 17.1241 21.8452 16.8645 21.5249 16.8645H10.2439C9.74673 16.8521 9.28907 16.5905 9.02591 16.1685C8.76569 15.7516 8.71224 15.2381 8.88092 14.7765L9.11294 14.2545L21.3218 12.9785C22.6629 12.8308 23.766 11.8554 24.0768 10.5425L25.4688 4.71356C25.5315 4.54571 25.4982 4.35693 25.3817 4.22066ZM22.9458 10.2815C22.7575 11.1267 22.04 11.7501 21.1768 11.8185L9.11294 13.0655L6.41596 4.88764L24.1928 5.14863L22.9458 10.2815Z" fill="#171717"/>
  </symbol>

  <symbol id="icon-location-pin" viewBox="0 0 20 31" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10 0.5C4.48611 0.5 0 4.98611 0 10.5C0 12.1553 0.413848 13.7965 1.20059 15.2522L9.45317 30.1777C9.56303 30.3767 9.77238 30.5 10 30.5C10.2277 30.5 10.437 30.3767 10.5469 30.1777L18.8025 15.2473C19.5862 13.7965 20 12.1552 20 10.5C20 4.98611 15.5139 0.5 10 0.5ZM17.7057 14.6473L10 28.5835L2.2974 14.6529C1.61197 13.3845 1.25004 11.9484 1.25004 10.5C1.25004 5.67518 5.17523 1.75004 10 1.75004C14.8248 1.75004 18.75 5.67523 18.75 10.5C18.75 11.9483 18.3881 13.3845 17.7057 14.6473Z" fill="#171717"/>
    <path d="M10 5.5C7.24309 5.5 5.00006 7.74303 5.00006 10.5C5.00006 13.257 7.24309 15.5 10 15.5C12.757 15.5 15 13.257 15 10.5C15 7.74309 12.757 5.5 10 5.5ZM10 14.25C7.93215 14.25 6.25004 12.5679 6.25004 10.5C6.25004 8.43215 7.93215 6.75004 10 6.75004C12.0679 6.75004 13.75 8.43215 13.75 10.5C13.75 12.5679 12.0679 14.25 10 14.25Z" fill="#171717"/>
  </symbol>

  <symbol id="icon-search" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M25.2285 23.4192L18.5073 16.6978C19.9809 14.9309 20.8702 12.6605 20.8702 10.1851C20.8702 4.56894 16.3013 0 10.6852 0C5.069 0 0.500061 4.56894 0.500061 10.1851C0.500061 15.8012 5.069 20.3702 10.6852 20.3702C13.1606 20.3702 15.4309 19.4808 17.1978 18.0072L23.9193 24.7287C24.1001 24.9095 24.3371 25 24.5739 25C24.8107 25 25.0478 24.9095 25.2285 24.7287C25.5903 24.3669 25.5903 23.7808 25.2285 23.4192ZM2.3519 10.1851C2.3519 5.59023 6.08982 1.85183 10.6852 1.85183C15.2805 1.85183 19.0184 5.59023 19.0184 10.1851C19.0184 14.78 15.2805 18.5183 10.6852 18.5183C6.08982 18.5183 2.3519 14.78 2.3519 10.1851Z" fill="#171717"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M16.02 10.7152H12.2883V6.98351C12.2883 6.87549 12.2 6.78711 12.0919 6.78711H10.9135C10.8055 6.78711 10.7171 6.87549 10.7171 6.98351V10.7152H6.98547C6.87744 10.7152 6.78906 10.8035 6.78906 10.9116V12.09C6.78906 12.198 6.87744 12.2864 6.98547 12.2864H10.7171V16.018C10.7171 16.1261 10.8055 16.2144 10.9135 16.2144H12.0919C12.2 16.2144 12.2883 16.1261 12.2883 16.018V12.2864H16.02C16.128 12.2864 16.2164 12.198 16.2164 12.09V10.9116C16.2164 10.8035 16.128 10.7152 16.02 10.7152Z" fill="#171717"/>
    <path d="M11.5025 0.501953C5.4287 0.501953 0.503906 5.42675 0.503906 11.5005C0.503906 17.5743 5.4287 22.499 11.5025 22.499C17.5762 22.499 22.501 17.5743 22.501 11.5005C22.501 5.42675 17.5762 0.501953 11.5025 0.501953ZM11.5025 20.6332C6.45982 20.6332 2.36973 16.5431 2.36973 11.5005C2.36973 6.45786 6.45982 2.36778 11.5025 2.36778C16.5451 2.36778 20.6352 6.45786 20.6352 11.5005C20.6352 16.5431 16.5451 20.6332 11.5025 20.6332Z" fill="#171717"/>
    <path d="M11.4985 0.501953C5.4248 0.501953 0.5 5.42675 0.5 11.5005C0.5 17.5743 5.4248 22.499 11.4985 22.499C17.5723 22.499 22.4971 17.5743 22.4971 11.5005C22.4971 5.42675 17.5723 0.501953 11.4985 0.501953ZM11.4985 20.6332C6.45591 20.6332 2.36582 16.5431 2.36582 11.5005C2.36582 6.45786 6.45591 2.36778 11.4985 2.36778C16.5412 2.36778 20.6313 6.45786 20.6313 11.5005C20.6313 16.5431 16.5412 20.6332 11.4985 20.6332Z" fill="#171717"/>
  </symbol>

</svg>


<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper">
  <header class="header {% if section.settings.menu != blank %} header--has-menu{% endif %}">
    {%- if section.settings.menu != blank -%}
      <div class="header-drawer js-header-drawer">
          <button class="header__icon header__icon--menu js-drawer-toggle" aria-label="{{ 'sections.header.menu' | t }}">
            <span>
              {% render 'icon-hamburger' %}
              {% render 'icon-close' %}
            </span>
          </button>
          <div class="header__menu-drawer" tabindex="-1">   
            <div class="header__menu-drawer-utility-links">
              {%- if section.settings.show_store_locator -%}
                <a href="{{ section.settings.store_locator_page.url }}" class="header__icon header__icon--store-locator">
                  {% render 'icon-location-pin' %}
                  <span class="header__icon-text">
                    Store Locator
                  </span>
                </a>
              {%- endif -%}
              {%- if section.settings.show_search -%}
              <details-modal class="header__search">
                <details>
                  <summary class="header__icon link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="Search Over Easy">
                    <span class="modal__toggle-open">
                      {% render 'icon-search' %}
                    </span>
                    <span class="header__icon-text">
                      Search
                    </span>
                  </summary>
                  <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="Search Over Easy">
                    <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
                      {%- if settings.predictive_search_enabled -%}
                        <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
                      {%- endif -%}
                        <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                          <div class="search__input-wrapper">
                            <input class="search__input"
                              id="Search-In-Modal"
                              type="text"
                              name="q"
                              value=""
                              placeholder="Search Over Easy"
                              {%- if settings.predictive_search_enabled -%}
                                role="combobox"
                                aria-expanded="false"
                                aria-owns="predictive-search-results-list"
                                aria-controls="predictive-search-results-list"
                                aria-haspopup="listbox"
                                aria-autocomplete="list"
                                autocorrect="off"
                                autocomplete="off"
                                autocapitalize="off"
                                spellcheck="false"
                              {%- endif -%}
                            >
                            <label class="search__label" for="Search-In-Template">Search Over Easy</label>
                            <input type="hidden" name="options[prefix]" value="last">
                            <input type="hidden" name="type" value="product">
                            <button class="search__button" aria-label="Search Over Easy">
                              <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                                <use href="#icon-search">
                              </svg>
                            </button>
                            <button type="button" class="search__button search__button--close" aria-label="{{ 'accessibility.close' | t }}">
                              <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                                <use href="#icon-close">
                              </svg>
                            </button>
                          </div>

                          {%- if settings.predictive_search_enabled -%}
                            <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                              <div id="predictive-search-results">
                                <h2 id="predictive-search-products" class="predictive-search__heading text-body caption-with-letter-spacing">
                                  Quick Links
                                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                  </svg>
                                </h2>
                                <ul id="predictive-search-results-list" class="predictive-search__results-list list-unstyled" role="listbox" aria-labelledby="predictive-search-products">
                                  {%- for link in settings.quick_links.links -%}
                                    <li id="predictive-search-option-{{ forloop.index }}" class="predictive-search__list-item" role="option" aria-selected="false">
                                      <a href="{{ link.url }}" class="predictive-search__item predictive-search__item--link link link--text" tabindex="-1">
                                        <div class="predictive-search__item-content">
                                          <span class="predictive-search__item-heading">{{ link.title }}</span> 
                                        </div>
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                            </div>

                            <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                          {%- endif -%}
                        </form>
                      {%- if settings.predictive_search_enabled -%}
                        </predictive-search>
                      {%- endif -%}
                    </div>
                  </div>
                </details>
              </details-modal>
              {%- endif -%}
              {%- if shop.customer_accounts_enabled -%}
                <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__menu-drawer-account">
                  {% render 'icon-account' %}
                  <span class="header__icon-text">
                    {%- liquid
                      if customer
                        echo 'customer.account_fallback' | t
                      else
                        echo 'customer.log_in' | t
                      endif
                    -%}
                  </span>
                </a>
              {%- endif -%}
            </div>
            <nav class="header__menu-drawer-navigation">
              <ul class="header__menu-drawer-menu has-submenu list-menu" role="list">
                {%- for link in section.settings.menu.links -%}
                  <li>
                    {%- if link.links != blank -%}
                      <header-menu>
                        <details id="Details-HeaderMenu-{{ forloop.index }}" {%- if forloop.index == 1 -%} open {%-endif -%}>
                          <summary class="header__menu-item list-menu__item link focus-inset">
                            <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                            {% render 'icon-accordion-plus' %}
                          </summary>
                          <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu" data-items-per-row="{{ section.settings.items_in_row }}" role="list" tabindex="-1">
                            {%- for childLink in link.links -%}
                              <li>
                                {%- if childLink.type == 'collection_link' -%}
                                   {% assign firstProduct = collections[childLink.object.handle].products | first %}
                                   <a href="{{ firstProduct.url }}" class="header__submenu-link{% if childLink.current %} header__submenu-link--active{% endif %}"{% if childLink.current %} aria-current="page"{% endif %}>
                                {%- else -%}
                                <a href="{{ childLink.url }}" class="header__submenu-link{% if childLink.current %} header__submenu-link--active{% endif %}"{% if childLink.current %} aria-current="page"{% endif %}>
                                {%- endif -%}
                                  <p class="header__submenu-link-title">{{ childLink.title | strip_html | truncatewords: 8, '...' }}{%- if childLink.type == 'collection_link' -%}{%- if childLink.object.metafields.custom.new_collection.value -%}<span class="header__submenu-link-title-new">New</span>{%- endif -%}{%- endif -%} </p>
                                  <div class="header__submenu-link-image-wrapper">
                                    {%- if childLink.type == 'collection_link' -%}
                                      {%- if childLink.object.metafields.custom.menu_image.value != blank -%}
                                        <img class="header__submenu-link-image" width="400" height="220" loading="lazy" src="{{ childLink.object.metafields.custom.menu_image.value | image_url: width: 250 }}" alt="{{ childLink.object.image.alt }}" />
                                      {%- endif -%}
                                    {%- endif -%}
                                    {%- if childLink.type == 'article_link' -%}
                                      {%- if childLink.object.image != blank -%}
                                        <img class="header__submenu-link-image" width="400" height="220" loading="lazy" src="{{ childLink.object.image.src | image_url: width: 250 }}" alt="{{ childLink.object.image.alt }}" />
                                      {%- endif -%}
                                    {%- endif -%}
                                    {%- if childLink.type == 'page_link' or childLink.type == 'blog_link' -%}
                                      {%- if childLink.object.metafields.custom.featured_image.value != blank -%}
                                        <img class="header__submenu-link-image" width="400" height="220" loading="lazy" src="{{ childLink.object.metafields.custom.featured_image.value.src | image_url: width: 250 }}" alt="{{ childLink.object.metafields.custom.featured_image.value.alt }}" />
                                      {%- endif -%}
                                    {%- endif -%}
                                    {%- if childLink.type == 'product_link' -%}
                                      {%- if childLink.object.metafields.custom.thumbnail_image.value != blank -%}
                                        <img class="header__submenu-link-image" width="400" height="220" loading="lazy" src="{{ childLink.object.metafields.custom.thumbnail_image.value | image_url: width: 250 }}" alt="{{ childLink.object.title }}" />
                                      {%- endif -%}
                                    {%- endif -%}
                                  </div>
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </details>
                      </header-menu>
                    {%- else -%}
                      <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                        <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                      </a>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </nav>
          </div>
      </div>
    {%- endif -%}

    {%- if section.settings.logo_position == 'top-center' or section.settings.menu == blank -%}
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="Search Over Easy">
            <span>
              <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="Search Over Easy">
            <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
              {%- if settings.predictive_search_enabled -%}
                <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
              {%- endif -%}
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <div class="field">
                    <input class="search__input field__input"
                      id="Search-In-Modal-1"
                      type="text"
                      name="q"
                      value=""
                      placeholder="Search Over Easy"
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      {%- endif -%}
                    >
                    <label class="search__label" for="Search-In-Template">Search Over Easy</label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button" aria-label="Search Over Easy">
                      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                    </button>
                    <button type="button" class="search__button search__button--close" aria-label="{{ 'accessibility.close' | t }}">
                      <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-close">
                      </svg>
                    </button>
                  </div>

                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div id="predictive-search-results">
                        <h2 id="predictive-search-products" class="predictive-search__heading text-body caption-with-letter-spacing">
                          Quick Links
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </h2>
                        <ul id="predictive-search-results-list" class="predictive-search__results-list list-unstyled" role="listbox" aria-labelledby="predictive-search-products">
                          {%- for link in settings.quick_links.links -%}
                            <li id="predictive-search-option-{{ forloop.index }}" class="predictive-search__list-item" role="option" aria-selected="false">
                              <a href="{{ link.url }}" class="predictive-search__item predictive-search__item--link link link--text" tabindex="-1">
                                <div class="predictive-search__item-content">
                                  <span class="predictive-search__item-heading">{{ link.title }}</span> 
                                </div>
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
              {%- if settings.predictive_search_enabled -%}
                </predictive-search>
              {%- endif -%}
            </div>
          </div>
        </details>
      </details-modal>
    {%- endif -%}

    {%- if request.page_type == 'index' -%}
      <h1 class="header__heading">
    {%- endif -%}
        <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
          <svg width="102" height="62" viewBox="0 0 102 62" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M27.7722 2.04852H28.9715C29.6257 2.04852 30.1213 2.44433 30.1213 3.22607C30.1213 4.00781 29.6752 4.40362 28.922 4.40362H28.4958V6.01658H27.7821V2.04852H27.7722ZM28.4858 3.82969H28.8328C29.2292 3.82969 29.3977 3.63178 29.3977 3.21617C29.3977 2.82036 29.1896 2.62245 28.8625 2.62245H28.4759V3.82969H28.4858ZM31.6476 2.04852V4.77965C31.6476 5.1062 31.7269 5.49212 32.163 5.49212C32.5992 5.49212 32.6784 5.16557 32.6784 4.78955V2.05841H33.3921V4.79944C33.3921 5.51191 33.1146 6.08584 32.1531 6.08584C31.1917 6.08584 30.934 5.5416 30.934 4.79944V2.05841H31.6476V2.04852ZM35.1762 4.32446V6.01658H34.4724V2.04852H35.6916C36.4151 2.04852 36.8215 2.42454 36.8215 3.12712C36.8215 3.70105 36.5142 3.94844 36.3061 4.0276C36.6133 4.17603 36.762 4.43331 36.762 5.01714V5.17547C36.762 5.63066 36.7818 5.79888 36.8116 6.00668H36.1277C36.0682 5.82856 36.0583 5.51191 36.0583 5.16557V5.01714C36.0583 4.48279 35.9394 4.30467 35.4834 4.30467H35.1762V4.32446ZM35.5132 3.75053C35.9394 3.75053 36.1078 3.56251 36.1078 3.1667C36.1078 2.83025 35.9493 2.63235 35.5825 2.63235H35.1762V3.76042H35.5132V3.75053ZM39.785 4.25519H38.5064V5.40306H39.9337L39.8445 6.01658H37.8027V2.04852H39.8346V2.67193H38.4965V3.64168H39.7751V4.25519H39.785ZM45.0382 3.64168L44.275 4.97756L45.1274 6.01658H44.2453L43.8983 5.59107C43.6803 5.89783 43.4325 6.06605 42.9667 6.06605C42.2927 6.06605 41.916 5.64055 41.916 4.96766C41.916 4.53226 42.0746 4.22551 42.5405 3.90885C42.3422 3.64168 42.1737 3.35471 42.1737 2.97868C42.1737 2.5037 42.4711 2.00893 43.1352 2.00893C43.7398 2.00893 44.0768 2.40475 44.0768 2.90942C44.0768 3.41408 43.8389 3.67136 43.4226 3.93854L43.8785 4.50258L44.3444 3.65157H45.0382V3.64168ZM42.8576 4.29477C42.6792 4.463 42.6098 4.64111 42.6098 4.8885C42.6098 5.25463 42.7684 5.46243 43.036 5.46243C43.2244 5.46243 43.3532 5.37337 43.5217 5.11609L42.8576 4.29477ZM43.4325 2.91931C43.4325 2.70161 43.3532 2.53339 43.1252 2.53339C42.927 2.53339 42.8279 2.70161 42.8279 2.92921C42.8279 3.14691 42.927 3.32502 43.0955 3.54272C43.3829 3.32502 43.4226 3.14691 43.4226 2.91931H43.4325ZM47.7539 4.89839C47.7837 5.22494 47.9224 5.51191 48.2793 5.51191C48.6361 5.51191 48.755 5.29421 48.755 4.99735C48.755 4.6708 48.5964 4.48279 48.0909 4.2453C47.407 3.91875 47.1493 3.64168 47.1493 3.04795C47.1493 2.41465 47.5557 1.97925 48.2793 1.97925C49.1713 1.97925 49.3894 2.58287 49.4092 3.09743H48.7154C48.6955 2.86984 48.6361 2.53339 48.2793 2.53339C48.0017 2.53339 47.8729 2.71151 47.8729 2.98858C47.8729 3.27555 48.0017 3.40419 48.4676 3.62189C49.1812 3.94844 49.4984 4.26509 49.4984 4.93798C49.4984 5.56139 49.1118 6.07595 48.2694 6.07595C47.3575 6.07595 47.08 5.49212 47.0502 4.89839H47.7539ZM51.1536 2.04852V6.01658H50.44V2.04852H51.1536ZM54.702 4.54216C54.702 3.86927 54.7119 3.09743 54.7218 2.64224H54.702C54.5632 3.39429 54.3451 4.73017 54.0874 6.01658H53.4432C53.2549 4.81923 53.0269 3.39429 52.8981 2.63235H52.8782C52.8981 3.09743 52.9179 3.92864 52.9179 4.61143V6.01658H52.2637V2.04852H53.3243C53.5324 3.14691 53.7108 4.25519 53.7901 4.82913C53.8694 4.29477 54.1172 3.09743 54.3253 2.04852H55.366V6.01658H54.6821V4.54216H54.702ZM56.496 2.04852H57.6953C58.3494 2.04852 58.845 2.44433 58.845 3.22607C58.845 4.00781 58.399 4.40362 57.6457 4.40362H57.2195V6.01658H56.5059V2.04852H56.496ZM57.2096 3.82969H57.5565C57.953 3.82969 58.1215 3.63178 58.1215 3.21617C58.1215 2.82036 57.9133 2.62245 57.5862 2.62245H57.1997V3.82969H57.2096ZM59.6875 2.04852H60.4011V5.40306H61.759L61.6896 6.00668H59.6875V2.04852ZM64.5442 4.25519H63.2656V5.40306H64.6928L64.6036 6.01658H62.5618V2.04852H64.5937V2.67193H63.2556V3.64168H64.5342V4.25519H64.5442ZM67.5374 2.04852V6.01658H66.8238V2.04852H67.5374ZM68.6475 6.01658V2.04852H69.4504C70.273 4.2354 70.4316 4.66091 70.4812 4.84892C70.4515 4.37394 70.4415 3.79011 70.4415 3.13701V2.04852H71.0759V6.01658H70.3028C69.4504 3.68126 69.3017 3.25576 69.2522 3.07764C69.2819 3.56251 69.2819 4.14634 69.2819 4.85881V6.01658H68.6376H68.6475ZM74.5846 6.01658H74.0394C74.0196 5.89783 74.0097 5.80877 74.0097 5.68013C73.8313 5.99679 73.5538 6.08584 73.2168 6.08584C72.3842 6.08584 72.0869 5.34369 72.0869 4.05728C72.0869 2.61255 72.5725 1.98914 73.4249 1.98914C74.5053 1.98914 74.5648 2.90942 74.5747 3.14691H73.8709C73.861 2.98858 73.8214 2.59276 73.4051 2.59276C72.9492 2.59276 72.8203 3.20628 72.8203 4.05728C72.8203 4.97756 72.9293 5.49212 73.3853 5.49212C73.7619 5.49212 73.8709 5.20515 73.8709 4.62132V4.40362H73.3357V3.8H74.5747V6.02647L74.5846 6.01658ZM76.3687 4.32446V6.01658H75.6649V2.04852H76.8841C77.6076 2.04852 78.014 2.42454 78.014 3.12712C78.014 3.70105 77.7067 3.94844 77.4986 4.0276C77.8058 4.17603 77.9545 4.43331 77.9545 5.01714V5.17547C77.9545 5.63066 77.9743 5.79888 78.0041 6.00668H77.3202C77.2607 5.82856 77.2508 5.51191 77.2508 5.16557V5.01714C77.2508 4.48279 77.1319 4.30467 76.6759 4.30467H76.3687V4.32446ZM76.7057 3.75053C77.1318 3.75053 77.3003 3.56251 77.3003 3.1667C77.3003 2.83025 77.1418 2.63235 76.775 2.63235H76.3687V3.76042H76.7057V3.75053ZM80.9775 4.25519H79.699V5.40306H81.1262L81.037 6.01658H78.9952V2.04852H81.0271V2.67193H79.689V3.64168H80.9676V4.25519H80.9775ZM81.9786 2.04852H83.0094C84.0303 2.04852 84.4268 2.70161 84.4268 3.94844C84.4268 5.28432 84.0501 6.01658 82.9499 6.01658H81.9687V2.04852H81.9786ZM82.6922 5.43275H82.9499C83.505 5.43275 83.6933 5.01714 83.6933 3.94844C83.6933 3.03806 83.5248 2.63235 82.9499 2.63235H82.6922V5.42285V5.43275ZM86.1316 2.04852V6.01658H85.4179V2.04852H86.1316ZM89.224 4.25519H87.9454V5.40306H89.3726L89.2834 6.01658H87.2416V2.04852H89.2735V2.67193H87.9355V3.64168H89.2141V4.25519H89.224ZM90.225 6.01658V2.04852H91.0279C91.8505 4.2354 92.0091 4.66091 92.0587 4.84892C92.0289 4.37394 92.019 3.79011 92.019 3.13701V2.04852H92.6534V6.01658H91.8803C91.0279 3.68126 90.8792 3.25576 90.8296 3.07764C90.8594 3.56251 90.8594 4.14634 90.8594 4.85881V6.01658H90.2151H90.225ZM93.5256 2.67193V2.04852H95.9341V2.67193H95.0817V6.01658H94.3681V2.67193H93.5157H93.5256ZM97.2523 4.90829C97.2821 5.23484 97.4208 5.52181 97.7777 5.52181C98.1345 5.52181 98.2534 5.30411 98.2534 5.00724C98.2534 4.6807 98.0948 4.49268 97.5893 4.25519C96.9054 3.92864 96.6477 3.65157 96.6477 3.05785C96.6477 2.42454 97.0541 1.98914 97.7777 1.98914C98.6697 1.98914 98.8878 2.59276 98.9076 3.10733H98.2138C98.1939 2.87973 98.1345 2.54329 97.7777 2.54329C97.5001 2.54329 97.3713 2.7214 97.3713 2.99848C97.3713 3.28544 97.5001 3.41408 97.966 3.63178C98.6796 3.95833 98.9968 4.27498 98.9968 4.94787C98.9968 5.57128 98.6102 6.08584 97.7677 6.08584C96.8559 6.08584 96.5784 5.50202 96.5486 4.90829H97.2523Z" fill="#FDB515"/>
            <path d="M3.22126 25.9953C1.07045 23.6006 0 20.0976 0 15.5457C0 10.9938 0.961423 7.38198 3.16179 4.51231C5.36216 1.63274 9.14838 0 14.2826 0C17.7219 0 20.4971 0.722365 22.6975 2.10772C27.1577 4.88833 28.6841 9.40064 28.6841 15.5358C28.6841 20.0877 27.6136 23.5907 25.4133 25.9854C23.2625 28.38 19.5952 29.5774 14.2925 29.5774C8.9898 29.5774 5.37207 28.38 3.22126 25.9854M14.2826 6.08568C12.0822 6.08568 10.9523 9.20273 10.9523 15.5358C10.9523 21.0475 11.8542 23.5907 14.2826 23.5907C16.7109 23.5907 17.7219 20.9981 17.7219 15.5358C17.7219 9.25221 16.592 6.08568 14.2826 6.08568Z" fill="#FDB515"/>
            <path d="M74.4659 24.1151C74.4659 25.7083 73.7126 27.1431 72.1267 28.3107C70.5508 29.4784 68.0134 29.9831 65.04 29.9831C57.3387 29.9831 53.8696 26.5593 53.8696 19.5929C53.8696 16.456 54.8608 13.8535 56.9026 11.8349C58.9444 9.81622 61.7493 8.80688 65.3076 8.80688C68.0531 8.80688 70.2634 9.49956 71.8988 10.7761C73.5342 12.1021 74.3469 13.7546 74.3469 15.6644C74.3469 19.1179 71.3735 21.3543 67.2899 21.4037C65.2481 21.4532 63.5532 21.0871 62.3341 20.2856C62.8 22.8881 64.4948 24.1646 67.4088 24.1646C70.3228 24.1646 72.3052 23.363 73.6531 21.7699C74.2379 22.4032 74.4659 23.1552 74.4659 24.1052M62.2152 17.9403C62.9189 18.257 63.8506 18.4747 64.9012 18.4747C66.4177 18.4747 67.2899 17.6237 67.2899 16.3967C67.2899 15.0707 66.2987 14.1108 65.1292 14.1108C63.7316 14.1108 62.4431 15.4962 62.2152 17.9403Z" fill="#FDB515"/>
            <path d="M28.2678 50.7041C28.2678 52.7128 27.2866 54.4841 25.2151 55.9684C23.1435 57.4033 20.2593 58.1157 16.4433 58.1157C6.52183 58.1157 1.56604 53.8112 1.56604 45.1527C1.56604 41.2341 2.87437 37.9786 5.49102 35.4453C8.15724 32.9121 11.7551 31.6653 16.3838 31.6653C19.9817 31.6653 22.8165 32.5262 24.888 34.149C27.009 35.7719 28.0498 37.8301 28.0498 40.2743C28.0498 44.5788 24.2338 47.399 18.8915 47.4485C16.2253 47.4979 14.0447 47.023 12.4589 46.0631C13.0635 49.3187 15.2341 50.8921 19.0501 50.8921C22.866 50.8921 25.4232 49.8827 27.1181 47.8839C27.9308 48.5568 28.2579 49.5067 28.2579 50.7041M12.3994 43.0054C13.3212 43.4408 14.5205 43.6783 15.8883 43.6783C17.8508 43.6783 18.9906 42.5799 18.9906 41.0956C18.9906 39.4233 17.6823 38.2259 16.2153 38.2259C14.3123 38.2259 12.6769 39.9972 12.3994 43.0054Z" fill="#FDB515"/>
            <path d="M98.3426 43.3914L98.4516 29.2014C98.4516 29.2014 95.2304 33.2091 89.551 33.9215C89.4222 33.9413 89.6403 40.5317 89.6403 41.5707C89.6403 45.4398 88.8077 47.409 87.1425 47.409C85.5765 47.409 84.9521 45.8653 84.9521 41.6696C84.9521 40.1754 84.9025 36.4152 84.9025 36.4152C81.1163 36.6428 75.9127 34.5647 75.9127 34.5647L75.9425 35.7126C75.9425 36.7615 75.9425 42.4415 75.9425 42.6097V45.0836C75.9425 47.6069 76.2002 49.2396 77.0922 50.7734C77.9743 52.3171 79.6989 53.4749 82.3057 53.4749C85.636 53.4749 88.1436 51.9807 89.7493 48.9922V49.0813C89.7493 53.5639 87.2516 55.8003 82.4048 55.8003C80.0062 55.8003 78.0834 55.3352 76.775 54.405C75.9425 58.6996 80.0954 62.1531 87.2317 61.9948C93.6842 61.8563 98.3922 56.7997 98.3922 51.6937C98.3922 51.5057 98.3922 50.338 98.3426 48.0522V43.3815V43.3914Z" fill="#FDB515"/>
            <path d="M92.158 8.63856C89.462 8.63856 86.2011 10.2713 85.0514 13.5368C85.091 12.1712 85.0811 9.10364 85.0811 9.10364H76.1111L75.9327 31.6355C79.154 33.5156 85.0514 33.8323 85.0514 33.8323V31.1407C85.0514 31.1407 84.9622 24.5009 84.9622 23.0067C84.9622 15.8523 86.7066 15.6346 87.9852 15.6346C88.8277 15.6346 89.4719 16.8122 89.581 18.3855C89.7891 21.3443 89.0656 23.165 88.342 23.6301C90.5523 24.5207 93.5258 24.4217 95.2008 23.2541C96.9255 22.1359 98.7393 19.1277 98.7393 16.2877C98.7393 9.75674 95.6469 8.67814 92.1481 8.62866" fill="#FDB515"/>
            <path d="M65.2378 57.1461C71.6407 57.1461 75.0305 54.4545 75.0305 49.3782C75.0701 46.0434 72.7111 43.4904 68.0329 41.7983H68.023C65.8523 40.8384 64.0583 39.9676 64.0583 38.9187C64.0583 38.4239 64.2863 37.6026 65.8424 37.6026C66.9823 37.6026 68.6573 38.1469 70.3225 39.0572C71.611 39.74 73.4149 40.9374 74.2177 41.4717C73.9997 39.1166 73.9402 35.3564 74.0195 34.2975C73.286 33.6148 71.4425 32.8825 69.2718 32.4273C67.9932 32.1799 66.4173 32.0315 65.1684 32.0315C59.5981 32.0315 55.7128 35.1584 55.7128 39.6312C55.7128 43.8565 59.5188 45.509 62.5815 46.8449C64.5638 47.7058 66.1299 48.3886 66.1299 49.5761C66.1299 50.4469 65.4955 50.8922 64.2467 50.8922C62.7401 50.8922 61.3029 50.4469 59.9649 49.5662C58.7061 48.735 57.6951 47.7751 56.9617 46.7163C55.5641 47.4584 54.8901 48.7251 54.8901 50.5854C54.8901 52.0499 55.5047 53.4056 56.6742 54.4941C58.5277 56.2357 61.5804 57.1955 65.2576 57.1559" fill="#FDB515"/>
            <path d="M43.7397 9.06421C43.7397 9.06421 42.9864 23.373 41.7376 27.3905C40.4391 23.185 39.7453 9.06421 39.7453 9.06421H29.3679C29.3679 9.06421 31.0132 17.1092 31.5088 19.9096C32.0341 22.5418 32.5991 26.678 33.2632 31.9226C35.8897 31.9424 44.8894 32.0018 50.43 30.1118C51.0049 25.6984 51.4806 22.5517 51.9167 20.0976C52.4619 17.2972 54.1568 9.11369 54.1568 9.11369L43.7298 9.06421H43.7397Z" fill="#FDB515"/>
            <path d="M44.1462 34.4956C44.1363 35.0795 44.1065 37.0981 44.1957 38.246C42.818 35.2378 40.6672 34.2681 37.6442 34.2681C34.9978 34.2681 32.9659 35.3269 31.4792 37.5335C30.042 39.6907 29.2788 42.0656 29.2788 45.4301C29.2788 52.5548 31.9748 56.6218 37.5946 56.6218C40.5185 56.6218 42.6594 55.1672 44.0371 52.3074L44.0173 56.3744H53.6712L53.7307 32.7244C51.9763 33.2092 47.2287 34.4462 44.1462 34.5055M41.6088 50.1502C39.676 50.1502 38.7444 48.5471 38.7444 45.2816C38.7444 42.3229 39.9536 40.3636 41.6088 40.3636C43.264 40.3636 44.4732 42.2734 44.4732 45.2816C44.4732 48.5471 43.4821 50.1502 41.6088 50.1502Z" fill="#FDB515"/>
            <path d="M99.968 9.28178H99.3931V10.4692H99.0859V9.28178H98.5011V9.07397H99.968V9.28178Z" fill="#FDB515"/>
            <path d="M102 10.4692H101.732V9.27188H101.703L101.207 10.4692H100.9L100.404 9.27188H100.384V10.4692H100.117V9.07397H100.593L101.049 10.1922H101.068L101.514 9.07397H102V10.4692Z" fill="#FDB515"/>
            </svg>
        </a>
    {%- if request.page_type == 'index' -%}
      </h1>
    {%- endif -%}

    {%- if section.settings.menu != blank -%}
        <nav class="header__inline-menu">
          <ul class="list-menu list-menu--inline" role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}">
                      <summary class="header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        {% render 'icon-caret' %}
                      </summary>
                      <div class="header__submenu-overlay">
                        <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu" data-items-per-row="{{ section.settings.items_in_row }}" role="list" tabindex="-1">
                          {%- for childLink in link.links -%}
                            <li>
                              {%- if childLink.type == 'collection_link' -%}
                                {% assign firstProduct = collections[childLink.object.handle].products | first %}
                                
                                <a href="{{ firstProduct.url }}" class="header__submenu-link{% if childLink.current %} header__submenu-link--active{% endif %}"{% if childLink.current %} aria-current="page"{% endif %}>
                              {%- else -%}
                                <a href="{{ childLink.url }}" class="header__submenu-link{% if childLink.current %} header__submenu-link--active{% endif %}"{% if childLink.current %} aria-current="page"{% endif %}>
                              {%- endif -%}
                                <div class="header__submenu-link-image-wrapper">
                                  {%- if childLink.type == 'collection_link' -%}
                                    {%- if childLink.object.metafields.custom.menu_image.value != blank -%}
                                      <img class="header__submenu-link-image" width="400" height="220" loading="lazy" src="{{ childLink.object.metafields.custom.menu_image.value.src | image_url: width: 400 }}" alt="{{ childLink.object.metafields.custom.featured_image.value.alt }}" />
                                    {%- endif -%}
                                  {%- endif -%}
                                  {%- if childLink.type == 'article_link' -%}
                                    {%- if childLink.object.image != blank -%}
                                      <img class="header__submenu-link-image" width="400" height="220" loading="lazy" src="{{ childLink.object.image.src | image_url: width: 400 }}" alt="{{ childLink.object.image.alt }}" />
                                    {%- endif -%}
                                  {%- endif -%}
                                  {%- if childLink.type == 'page_link' or childLink.type == 'blog_link' -%}
                                    {%- if childLink.object.metafields.custom.featured_image.value != blank -%}
                                      <img class="header__submenu-link-image" width="400" height="220" loading="lazy" src="{{ childLink.object.metafields.custom.featured_image.value.src | image_url: width: 400 }}" alt="{{ childLink.object.metafields.custom.featured_image.value.alt }}" />
                                    {%- endif -%}
                                  {%- endif -%}
                                  {%- if childLink.type == 'product_link' -%}
                                    {%- if childLink.object.metafields.custom.thumbnail_image.value != blank -%}
                                      <img class="header__submenu-link-image" width="400" height="220" loading="lazy" src="{{ childLink.object.metafields.custom.thumbnail_image.value | image_url: width: 400 }}" alt="{{ childLink.object.title }}" />
                                    {%- endif -%}
                                  {%- endif -%}
                                </div>
                                <p class="header__submenu-link-title">{{ childLink.title | strip_html | truncatewords: 8, '...' }}{%- if childLink.type == 'collection_link' -%}{%- if childLink.object.metafields.custom.new_collection.value -%}<span class="header__submenu-link-title-new">New</span>{%- endif -%}{%- endif -%} </p>
                                {%- if childLink.type == 'collection_link' or childLink.type == 'product_link' or childLink.type == 'page_link' or childLink.type == 'blog_link' -%}
                                  {%- if childLink.object.metafields.custom.excerpt.value != blank -%}
                                    <p class="header__submenu-link-excerpt">{{ childLink.object.metafields.custom.excerpt.value | strip_html }}</p>
                                  {%- endif -%}
                                {%- endif -%}
                                
                                {%- if childLink.type == 'article_link' -%}
                                  {%- if childLink.object.excerpt != blank -%}
                                    <p class="header__submenu-link-excerpt">{{ childLink.object.excerpt | strip_html }}</p>
                                  {%- endif -%}
                                {%- endif -%}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    </details>
                  </header-menu>
                {%- else -%}
                  <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
    {%- endif -%}

    <div class="header__icons">
      {%- if section.settings.show_store_locator -%}
        <a href="{{ section.settings.store_locator_page.url }}" class="header__icon header__icon--store-locator link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          {% render 'icon-location-pin' %}
          <span class="header__icon-text">
            Store Locator
          </span>
        </a>
      {%- endif -%}
      {%- if section.settings.show_search -%}
      <details-modal class="header__search">
        <details>
          <summary class="header__icon link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="Search Over Easy">
            <span class="modal__toggle-open">
              {% render 'icon-search' %}
            </span>
            <span class="header__icon-text">
              Search
            </span>
          </summary>
          <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="Search Over Easy">
            <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
              {%- if settings.predictive_search_enabled -%}
                <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
              {%- endif -%}
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <div class="search__input-wrapper">
                    <input class="search__input"
                      id="Search-In-Modal"
                      type="text"
                      name="q"
                      value=""
                      placeholder="Search Over Easy"
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      {%- endif -%}
                    >
                    <label class="search__label" for="Search-In-Template">Search Over Easy</label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <input type="hidden" name="type" value="product">
                    <button class="search__button" aria-label="Search Over Easy">
                      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                    </button>
                    <button type="button" class="search__button search__button--close" aria-label="{{ 'accessibility.close' | t }}">
                      <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-close">
                      </svg>
                    </button>
                  </div>

                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div id="predictive-search-results">
                        <h2 id="predictive-search-products" class="predictive-search__heading text-body caption-with-letter-spacing">
                          Quick Links
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </h2>
                        <ul id="predictive-search-results-list" class="predictive-search__results-list list-unstyled" role="listbox" aria-labelledby="predictive-search-products">
                          {%- for link in settings.quick_links.links -%}
                            <li id="predictive-search-option-{{ forloop.index }}" class="predictive-search__list-item" role="option" aria-selected="false">
                              <a href="{{ link.url }}" class="predictive-search__item predictive-search__item--link link link--text" tabindex="-1">
                                <div class="predictive-search__item-content">
                                  <span class="predictive-search__item-heading">{{ link.title }}</span> 
                                </div>
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
              {%- if settings.predictive_search_enabled -%}
                </predictive-search>
              {%- endif -%}
            </div>
          </div>
        </details>
      </details-modal>
      {%- endif -%}

      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          {% render 'icon-account' %}
          <span class="header__icon-text">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      {% comment %} <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {%- liquid
          render 'icon-cart-empty'
        -%}
        <span class="header__icon-text">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
    <div class="mobile-header-cart">
      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {%- liquid
          render 'icon-cart-empty'
        -%}
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div> {% endcomment %}
  </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.getElementById('shopify-section-oe-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-oe-header-hidden', 'shopify-section-oe-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      this.header.classList.add('shopify-section-oe-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-oe-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-oe-header-hidden', 'shopify-section-oe-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);

  document.addEventListener('DOMContentLoaded', () => {
    const headerDrawer = document.querySelector('.js-header-drawer')
    
    if (headerDrawer) {
      initDrawer(headerDrawer)
    }
  })

  function initDrawer(element) {
    const toggleButton = element.querySelectorAll('.js-drawer-toggle')

    toggleButton.forEach(button => {
      button.addEventListener('click', () => {
        element.classList.toggle('is-open')
        document.body.classList.toggle('u-overflow-hidden')
      })
    });
  }
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "Show search",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_store_locator",
      "label": "Show store locator",
      "default": false
    },
    {
      "type": "page",
      "id": "store_locator_page",
      "label": "Store locator page"
    },
    {
      "type": "range",
      "id": "items_in_row",
      "min": 3,
      "max": 5,
      "step": 1,
      "label": "Number of items per row",
      "default": 3
    }
  ]
}
{% endschema %}
