{%- style -%}

  .oe-jumbotron-background--red {
    background-color: var(--oe-color-red);
  }

  .oe-jumbotron-background--white {
    background-color: var(--oe-color-white);
  }

  .oe-jumbotron-background--black {
    background-color: var(--oe-color-black);
  }

  .oe-jumbotron__container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .oe-jumbotron__media-wrapper {
    width: 100vw;
    position: relative;
    padding-top: 100%;
    margin: 0 calc(var(--oe-gutter) * -1);
  }

  .oe-jumbotron__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .oe-jumbotron__content {
    display: flex;
    flex-direction: column;
    max-width: 580px;
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 2;
  }

  .oe-jumbotron__content-color--red {
    color: var(--oe-color-red);
  }

  .oe-jumbotron__content-color--white {
    color: var(--oe-color-white);
  }

  .oe-jumbotron__content-color--black {
    color: var(--oe-color-black);
  }

  .oe-jumbotron__content-wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 0;
  }

  .oe-jumbotron-content-mobile-position--bottom .oe-jumbotron__content-wrapper {
    order: 2;
  }

  .oe-jumbotron-content-mobile-position--bottom .oe-jumbotron__klaviyo-wrapper {
    order: 1;
  }
  
  .oe-jumbotron-content-mobile-position--bottom .oe-jumbotron__media-wrapper {
    order: 1;
  }
  
  .oe-jumbotron-content-mobile-position--top .oe-jumbotron__content-wrapper {
    order: 1;
  }

  .oe-jumbotron-content-mobile-position--top .oe-jumbotron__klaviyo-wrapper {
    order: 2;
}
  
  .oe-jumbotron-content-mobile-position--top .oe-jumbotron__media-wrapper {
    order: 2;
  }

  .oe-jumbotron__heading {
    margin: 0;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    color: inherit;
  }

  .oe-jumbotron__heading-size--small {
    font-size: 20px;
    line-height: 140%;
  }
  
  .oe-jumbotron__heading-size--medium {
    font-size: 30px;
    line-height: 140%;
  }
  
  .oe-jumbotron__text {
    color: inherit;
    margin-bottom: 40px;
    margin-top: 0;
  }

  .oe-jumbotron__list-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 160%;
    font-weight: bold;
  }

  .oe-jumbotron__list-item:last-of-type {
    margin-bottom: 24px;
  }

  .oe-jumbotron__list-item svg {
    width: 20px;
  }

  .oe-jumbotron__content .button {
    width: 100%;
    max-width: 330px;
  }

  .oe-jumbotron__eye-cacther {
    position: absolute;
    z-index: 3;
    width: 160px;
    height: 160px;
  }

  .oe-jumbotron__eye-cacther-position--top-left {
    top: 8px;
    left: 8px;
  }
  .oe-jumbotron__eye-cacther-position--top-right {
    top: 8px;
    right: 8px;
  }
  .oe-jumbotron__eye-cacther-position--bottom-left {
    bottom: 8px;
    left: 8px;
  }
  .oe-jumbotron__eye-cacther-position--bottom-right {
    bottom: 8px;
    right: 8px;
  }
  
  .oe-jumbotron__eye-cacther-position--top-left.oe-jumbotron__eye-cacther--is-offset {
    top: 0;
    left: 0;
  }
  .oe-jumbotron__eye-cacther-position--top-right.oe-jumbotron__eye-cacther--is-offset {
    top: 0;
    right: 0;
  }
  .oe-jumbotron__eye-cacther-position--bottom-left.oe-jumbotron__eye-cacther--is-offset {
    bottom: 0;
    left: 0;
  }
  .oe-jumbotron__eye-cacther-position--bottom-right.oe-jumbotron__eye-cacther--is-offset {
    bottom: 0;
    right: 0;
  }

  @media screen and (min-width: 750px) {

    .oe-jumbotron__eye-cacther {
      width: 240px;
      height: 240px;
    }

    .oe-jumbotron__eye-cacther-position--top-left {
      top: 32px;
      left: 32px;
    }
    .oe-jumbotron__eye-cacther-position--top-right {
      top: 32px;
      right: 32px;
    }
    .oe-jumbotron__eye-cacther-position--bottom-left {
      bottom: 32px;
      left: 32px;
    }
    .oe-jumbotron__eye-cacther-position--bottom-right {
      bottom: 32px;
      right: 32px;
    }
    
    .oe-jumbotron__eye-cacther-position--top-left.oe-jumbotron__eye-cacther--is-offset {
      top: -8px;
      left: -32px;
    }
    .oe-jumbotron__eye-cacther-position--top-right.oe-jumbotron__eye-cacther--is-offset {
      top: -8px;
      right: -32px;
    }
    .oe-jumbotron__eye-cacther-position--bottom-left.oe-jumbotron__eye-cacther--is-offset {
      bottom: -8px;
      left: -32px;
    }
    .oe-jumbotron__eye-cacther-position--bottom-right.oe-jumbotron__eye-cacther--is-offset {
      bottom: -8px;
      right: -32px;
    }
  }

  .oe-jumbotron__eye-cacther .oe-shape {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    color: var(--oe-shape-color)
  }

  .oe-jumbotron__eye-cacther-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--oe-shape-text-color);
    padding: 24px;
  }

  @media screen and (min-width: 750px) {
    .oe-jumbotron__eye-cacther-text {
      font-size: 24px;
    }
  }

  .oe-jumbotron__eye-cacther-text p {
    margin: 0;
    line-height: 1.2;
  }

  @media screen and (min-width: 750px) {
    .oe-jumbotron__container {
      flex-direction: row;
    }
    
    .oe-jumbotron__content-wrapper {
      padding: 64px 0;
      width: 45%;
    }

    .oe-jumbotron__media-wrapper {
      padding-top: 50%;
      width: 55%;
    }
    
    .oe-jumbotron__heading {
      font-weight: 500;
      font-size: 55px;
      line-height: 120%;
    }

    .oe-jumbotron__heading-size--small {
      font-size: 32px;
      line-height: 120%;
    }
    
    .oe-jumbotron__heading-size--medium {
      font-size: 45px;
      line-height: 120%;
    }
    
    .oe-jumbotron__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
    }

    .oe-jumbotron__list-item:last-of-type {
      margin-bottom: 48px;
    }

    .oe-jumbotron-content-position--left .oe-jumbotron__content-wrapper {
      order: 1;
    }
    
    .oe-jumbotron-content-position--left .oe-jumbotron__media-wrapper {
      order: 2;
    }

    .oe-jumbotron-content-position--left .oe-jumbotron__klaviyo-wrapper {
      order: 2;
    }
    
    .oe-jumbotron-content-position--right .oe-jumbotron__content-wrapper {
      order: 2;
    }
    
    .oe-jumbotron-content-position--right .oe-jumbotron__media-wrapper {
      order: 1;
    }

    .oe-jumbotron-content-position--right .oe-jumbotron__klaviyo-wrapper {
      order: 1;
    }
  }
{%- endstyle -%}

<div class="oe-jumbotron oe-jumbotron-background--{{ section.settings.background_color_scheme }} oe-jumbotron-content-position--{{ section.settings.desktop_content_position }} oe-jumbotron-content-mobile-position--{{ section.settings.mobile_content_position }}" data-section-name="Jumbotron">
  <div class="oe-jumbotron__container container">
    {%- if section.settings.image != blank -%}
      <div class="oe-jumbotron__media-wrapper">
        {%-liquid
          assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        -%}
        {{ section.settings.image | image_url: width: 1200 | image_tag:
          loading: 'lazy',
          width: section.settings.image.width,
          height: image_height,
          class: "oe-jumbotron__media",
          alt: section.settings.image.alt | escape
        }}
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'eye-catcher' -%}
              <style>
                #{{section.id}} {
                  --oe-shape-color: var(--oe-color-{{ block.settings.color }});
                  --oe-shape-text-color: var(--oe-color-{{ block.settings.text_color }});
                }
              </style>
              <div id="{{ section.id }}" class="oe-jumbotron__eye-cacther oe-jumbotron__eye-cacther-shape--{{ block.settings.shape }} oe-jumbotron__eye-cacther-position--{{ block.settings.position }} {% if block.settings.is_offset %} oe-jumbotron__eye-cacther--is-offset {% endif %}">
                {%- if block.settings.shape == 'spikes' -%}
                  {% render 'spikes-shape' %}
                {%- endif -%}
                {%- if block.settings.shape == 'round' -%}
                  {% render 'round-shape' %}
                {%- endif -%}
                <div class="oe-jumbotron__eye-cacther-text">
                  {{ block.settings.text }}
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    {%- endif -%}
    <div class="oe-jumbotron__content-wrapper">
      <div class="oe-jumbotron__content oe-jumbotron__content-color--{{ section.settings.text_color_scheme }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2 class="oe-jumbotron__heading oe-jumbotron__heading-size--{{ block.settings.heading_size }}">{{ block.settings.heading | escape }}</h2>
            {%- when 'text' -%}
              <p class="oe-jumbotron__text">{{ block.settings.text | escape }}</p>
            {%- when 'list_item' -%}
              <div class="oe-jumbotron__list-item">{% render 'icon-list-item' %}{{ block.settings.text | escape }}</div>
            {%- when 'buttons' -%}
              {%- if block.settings.button_label_1 != blank -%}
                {% render 'button', href: block.settings.button_link_1 , variation: 'primary', color: section.settings.button_color_scheme , size: 'big', label: block.settings.button_label_1 %}
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
    {%- if section.settings.form_id != blank -%}
    <div class="oe-jumbotron__klaviyo-wrapper">
      <div class="klaviyo-form-{{ section.settings.form_id }}"></div>
    </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "OE Jumbotron",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "form_id",
      "label": "Klaviyo form ID"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Content position - desktop"
    },
    {
      "type": "select",
      "id": "mobile_content_position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "bottom",
      "label": "Content position - mobile"
    },
    {
      "type": "select",
      "id": "background_color_scheme",
      "options": [
        {
          "value": "red",
          "label": "Red"
        },
        {
          "value": "black",
          "label": "Black"
        },
        {
          "value": "white",
          "label": "White"
        }
      ],
      "default": "red",
      "label": "Background color"
    },
    {
      "type": "select",
      "id": "button_color_scheme",
      "options": [
        {
          "value": "red",
          "label": "Red"
        },
        {
          "value": "black",
          "label": "Black"
        },
        {
          "value": "white",
          "label": "White"
        }
      ],
      "default": "red",
      "label": "Button color"
    },
    {
      "type": "select",
      "id": "text_color_scheme",
      "options": [
        {
          "value": "red",
          "label": "Red"
        },
        {
          "value": "black",
          "label": "Black"
        },
        {
          "value": "white",
          "label": "White"
        }
      ],
      "default": "white",
      "label": "Content color"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Headline",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Complete Nutrition",
          "label": "Headline"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "small",
              "label": "Small"
            }
          ],
          "default": "default",
          "label": "Size"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "Text"
        }
      ]
    },
    {
      "type": "list_item",
      "name": "List item",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Organic Oats & Fiber Blend",
          "label": "Text"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "Label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Url"
        }
      ]
    },
    {
      "type": "eye-catcher",
      "name": "Eye-catcher",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "is_offset",
          "label": "Offset position",
          "default": false
        },
        {
          "type": "select",
          "id": "position",
          "options": [
            {
              "value": "top-left",
              "label": "Top left"
            },
            {
              "value": "top-right",
              "label": "Top right"
            },
            {
              "value": "bottom-left",
              "label": "Bottom left"
            },
            {
              "value": "bottom-right",
              "label": "Bottom right"
            }
          ],
          "default": "top-left",
          "label": "Position"
        },
        {
          "type": "select",
          "id": "shape",
          "options": [
            {
              "value": "spikes",
              "label": "Spikes"
            },
            {
              "value": "round",
              "label": "Round"
            }
          ],
          "default": "spikes",
          "label": "Shape"
        },
        {
          "type": "select",
          "id": "color",
          "options": [
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "black",
              "label": "Black"
            },
            {
              "value": "red",
              "label": "Red"
            },
            {
              "value": "violet",
              "label": "Violet"
            },
            {
              "value": "green",
              "label": "Green"
            },
            {
              "value": "copy",
              "label": "Grey"
            },
            {
              "value": "copy-lighter",
              "label": "Grey - light"
            },
            {
              "value": "orange",
              "label": "Orange"
            }
            
          ],
          "default": "red",
          "label": "Shape color"
        },
        {
          "type": "select",
          "id": "text_color",
          "options": [
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "black",
              "label": "Black"
            },
            {
              "value": "red",
              "label": "Red"
            },
            {
              "value": "violet",
              "label": "Violet"
            },
            {
              "value": "green",
              "label": "Green"
            },
            {
              "value": "copy",
              "label": "Grey"
            },
            {
              "value": "copy-lighter",
              "label": "Grey - light"
            },
            {
              "value": "orange",
              "label": "Orange"
            }
            
          ],
          "default": "white",
          "label": "Text color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "OE Jumbotron",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
