<style type="text/css">
  .page-template-404 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .page-template-404__text {
    color: #666666;
    font-size: 24px;
  }

  .page-template-404__alert {
    background: var(--oe-color-yellow);
    border-radius: 4px;
    color: var(--oe-color-white);
    display: flex; 
    align-items: center;
    padding: 6px 12px;
    font-weight: 800;
    line-height: 1.2;
    gap: 12px;
    text-transform: uppercase;
  }

  .page-template-404__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 535px;
  }

  .page-template-404__content a {
    color: var(--oe-color-yellow);
  }

  .page-template-404__title {
    font-size: 28px;
    line-height: 120%;
    color: var(--oe-color-cocoa);
    margin: 24px 0 4px;
    font-weight: 800;
    text-transform: uppercase;
    }
  
  .page-template-404__search {
    margin-top: 48px;
    width: 100%;
  }
  
  .page-template-404__illustration {
    margin-bottom: 40px;
  }
  
  .page-template-404__illustration img{
    width: 100%;
    height: auto;
  }

  .page-template-404__search .predictive-search {
    display: none !important;
  
  }

  @media screen and (min-width: 750px) {
    .page-template-404 {
      display: flex;
      align-items: center;
      gap: 100px;
      padding-top: 120px;
      padding-bottom: 120px;
      justify-content: space-between;
    }

    .page-template-404__content {
      width: 50%;
      order: 1;
    }
    
    .page-template-404__illustration {
      width: 50%;
      order: 2;
      margin-bottom: 0;
    }

    .page-template-404__title {
      font-size: 48px;
      line-height: 120%;
      color: var(--oe-color-cocoa);
      margin: 36px 0 4px;
    }

    .page-template-404__alert {  
      padding: 12px 16px;
    }
  }
</style>

<div class="page-template-404 container">
  {%- if section.settings.image != blank -%}
    <div class="page-template-404__illustration">
      {{ section.settings.image | image_url: width: 806 | image_tag:
        loading: 'lazy',
        width: section.settings.image.width,
        height: 585,
        class: "oe-jumbotron__media",
        alt: section.settings.image.alt | escape
      }}
    </div>
  {%- endif -%}
  <div class="page-template-404__content">
    <div class="page-template-404__alert">
      {% render 'icon-alert' %}
      404 Error
    </div>
    <h1 class="page-template-404__title">
      {{ 'templates.404.title' | t }}
    </h1>
    <span class="page-template-404__text">
      Ooops! It seems that this page doesn’t exist in the known universe. No worries, head back <a href="/">home</a> or keep exploring our site:
    </span>
    {%- if section.settings.show_search -%}
      <div class="page-template-404__search">
        {%- if settings.predictive_search_enabled -%}
          <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
        {%- endif -%}
          <form action="{{ routes.search_url }}" method="get" role="search" class="search">
            <div class="search__input-wrapper">
              <input
                class="search__input"
                id="Search-In-Template"
                type="search"
                name="q"
                value="{{ search.terms | escape }}"
                placeholder="Search Over Easy"
                {%- if settings.predictive_search_enabled -%}
                  role="combobox"
                  aria-expanded="false"
                  aria-owns="predictive-search-results-list"
                  aria-controls="predictive-search-results-list"
                  aria-haspopup="listbox"
                  aria-autocomplete="list"
                  autocorrect="off"
                  autocomplete="off"
                  autocapitalize="off"
                  spellcheck="false"
                {%- endif -%}
              >
              <label class="search__label" for="Search-In-Template">Search Over Easy</label>
              <input name="options[prefix]" type="hidden" value="last">
              <input name="type" type="hidden" value="product">

              {%- if settings.predictive_search_enabled -%}
                <div class="predictive-search predictive-search--search-template" tabindex="-1" data-predictive-search>
                  <div class="predictive-search__loading-state">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </div>
                </div>

                <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
              {%- endif -%}

              <button type="submit" class="search__button" aria-label="{{ 'general.search.search' | t }}">
                <svg class="icon icon-search">
                  <use xlink:href="#icon-search">
                </svg>
              </button>
            </div>
          </form>
        {%- if settings.predictive_search_enabled -%}
          </predictive-search>
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
  
</div>


{% schema %}
{
  "name": "OE Main 404",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "default": true,
      "label": "Show search bar"
    }
  ],
  "presets": [
    {
      "name": "OE Main 404"
    }
  ]
}
{% endschema %}
