{% comment %} {% style %}
{%- if template == "product" -%}
.oe-value-builder {
  margin-top:20px;
  }

@media screen and (min-width: 750px) {
  .oe-value-builder {
    margin-top:40px;
  }
}
{%- endif -%}
{% endstyle %} {% endcomment %}

{% if section.settings.use_manual != true %}
  <section class="okendo-reviews" data-section-name="Okendo reviews" id="product-reviews">
    <div class="okendo-reviews__container container">
      <div data-oke-reviews-widget data-oke-reviews-product-id="shopify-{{ product.id }}">
        {{ product.metafields.okendo.ProductReviewsWidgetSnippet }}
      </div>
    </div>
  </section>
{% else %}
  {{ 'section-oe-reviews.css' | asset_url | stylesheet_tag }}

  {% assign reviews = settings.reviews_data %}
{% comment %}   {%- if template == "product" or "minis" -%}
    {% render 'bundle-bar' %}
  {%- endif -%} {% endcomment %}
  <section id="{{ section.id }}" class="oe-reviews__section">
    <div class="oe-reviews container">
      <div class="oe-reviews__list"></div>
      <div class="oe-reviews__footer">
        <button class="oe-reviews__load-more">Load more</button>
      </div>
    </div>
  </section>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      new OEReviews({data: JSON.parse({{ reviews | json }}), product: {{ product | json }}, section: "{{ section.id }}"})
    })
  </script>
{% endif %}

{% schema %}
{
  "name": "OE Okendo Product Reviews",
  "settings": [
    {
      "type": "header",
      "content": "OE Okendo Product Reviews"
    },
    {
      "type": "checkbox",
      "id": "use_manual",
      "label": "Use review json data",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "OE Okendo Product Reviews",
      "category": "Layout"
    }
  ]
}
{% endschema %}
