<section class="Press section-{{ section.id }}" data-section-name="Sources">
  <div class="Press-wrapper">
    {% comment %} <h2>&#9135;&#9135;&#9135;&#9135; &nbsp; As Seen On &nbsp; &#9135;&#9135;&#9135;&#9135;</h2> {% endcomment %}
    <div class="slider-custom-quotes Press-slider">
      {% for block in section.blocks %}
        <div class="Press-inner-wrap">
          <div class="Press-circle_bg">
          <div class="Press-text-wrap">
            <p class="text-center lg:text-left">{{ block.settings.text }}</p>
          </div>
          <div class="Press-img-wrap">
            <img width="240" height="80" loading="lazy" src="{{ block.settings.source_image | image_url: width: 500 }}">
          </div>
        </div>
        </div>
      {% endfor %}
    </div>
    <div class="Press-pagination js-Press-pagination"></div>
  </div>
</section>

<style>
  .Press {
    overflow-x: hidden;
  }
  .Press-wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 72px 0 32px 0;
  }
  .Press-wrapper > h2 {
    font-family: Gopher;
    display:none;
}
  .Press-slider {
    display: flex;
  }

  .Press-inner-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    margin-left: 12px;
    margin-right: 12px;
  }

  .Press-inner-wrap:first-child {
    margin-left: 0;
  }
  
  .Press-inner-wrap:last-child {
    margin-right: 0;
  }

  .Press-circle_bg {
  height:160px;
  width: 160px;
  background-color: #F8F3E7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  }

  .Press-img-wrap {
    width: 200px;
  }

  .Press-img-wrap img {
    width: 90%;
    max-height: 65px;
    object-fit: contain;
  }

  .Press-text-wrap {
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #593E41;
    {% comment %} background: var(--oe-color-grey-100); {% endcomment %}
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 1279px) {
    .Press {
     {% comment %} background-color: #F8F3E7 ; {% endcomment %}
    }
    .Press-circle_bg {
      height: 200px;
      background-color: #FFFFFF;
      width: 200px;
    }
  }
  @media (min-width: 1280px) {

    .Press-slider {
      justify-content: space-around;
    }

    .Press-wrapper > h2 {
      display:block;
      font-size: 16px;
      text-align: center;
      margin-bottom: 48px;
  }
    .Press-inner-wrap{
      flex-direction: row;
      position:relative;
      min-height: 100px;
    }
    .Press-img-wrap {
      padding-bottom: 0;
      border: none;
    }
    .Press-circle_bg:hover .Press-img-wrap {
      opacity:0;
      transition: opacity 0.5s;
    }
    .Press-circle_bg:hover .Press-text-wrap {
      opacity:1;
      transition: opacity 0.5s;
    }
    .Press-circle_bg {
      flex-direction: row;
    }
    .Press-text-wrap {
      margin-bottom: 0;
      max-width: 160px;
      margin-top: 0;
      position:absolute;
      font-size: 16px;
      font-weight: 700;
      opacity:0;
    }
  }
  .page-entry-offer .Press-wrapper {
    padding-top: 0;
  }

  @media (min-width: 1024px) {
    .Press-wrapper {
      
    }
  }

  .Press-pagination {
    display: flex;
    gap: 9px;
    justify-content: center;
    margin-top: 16px;
  }

  @media screen and (min-width: 1260px) {
    .Press-pagination {
      display: none;
    }
}

  .Press-pagination-bullet {
    display: block;
    width: 9px;
    height: 9px;
    background-color: var(--oe-color-copy-light);
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
  }
  
  .Press-pagination-bullet.is-active {
    background-color: var(--oe-color-yellow);
  }

</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
      const swiper = new Swiper('.section-{{ section.id }} .Press-wrapper', {
        slideClass: 'Press-inner-wrap',
        wrapperClass: 'Press-slider',
        slideActiveClass: 'is-active',
        slidesPerView: 'auto',
        centeredSlides: true,
        initialSlide: 0,
        loop: 0,
        pagination: {
          el: '.js-Press-pagination',
          bulletClass: 'Press-pagination-bullet',
          bulletActiveClass: 'is-active'
        },
        breakpoints: {
          1260: {
            slidesPerView: 4,
            centeredSlides: false,
          },
        }
      });
    
  })
  {% comment %} document.addEventListener('DOMContentLoaded', () => {
    $('.section-{{ section.id }} .slider-custom-quotes').slick({
      arrows: false,
      infinite: false,
      dots: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      mobileFirst: true,
      responsive: [
        {
          breakpoint: 1024,
          settings: { slidesToShow: 2, slidesToScroll: 2, dots: true }
        },
        {
          breakpoint: 1280,
          settings: { slidesToShow: 4, slidesToScroll: 4, dots: false }
        }
      ]
    })
  }) {% endcomment %}


</script>

{% schema %}
  {
    "name": "OE Sources",
    "class": "home-page",
    "blocks": [
      {
        "name": "OE Sources",
        "type": "source",
        "settings": [
          {
            "type": "image_picker",
            "id": "source_image",
            "label": "Source Image"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "OE Sources",
        "category": "Layout"
      }
    ]
  }
{% endschema %}
