{%- style -%}
  .oe-text-image__container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }

  .oe-text-image__media-wrapper {
    width: 100%;
    position: relative;
    padding-top: 62%;
    border-radius: 5px;
    overflow: hidden;
  }

  .oe-text-image__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .oe-text-image__content {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 2;
  }

  .oe-text-image__content-wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 0;
  }

  .oe-text-image-content-mobile-position--bottom .oe-text-image__content-wrapper {
    order: 2;
  }
  
  .oe-text-image-content-mobile-position--bottom .oe-text-image__media-wrapper {
    order: 1;
  }
  
  .oe-text-image-content-mobile-position--top .oe-text-image__content-wrapper {
    order: 1;
  }
  
  .oe-text-image-content-mobile-position--top .oe-text-image__media-wrapper {
    order: 2;
  }

  .oe-text-image__heading {
    margin: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    color: var(--oe-color-black);
  }

  .oe-text-image__heading-size--small {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
  }
  
  .oe-text-image__text {
    margin-top: 0;
    color: var(--oe-color-black);
    margin-bottom: 16px;
  }
  
  .oe-text-image__text:last-of-type {
    margin-bottom: 0;
  }

  .oe-text-image__list-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
  }

  .oe-text-image__list-item svg {
    width: 20px;
  }

  @media screen and (min-width: 750px) {
    .oe-text-image__container {
      flex-direction: row;
      gap: 100px;
      margin-bottom: 56px;
    }

    .oe-text-image__content-wrapper {
      min-width: 40%;
    }
    
    .oe-text-image__content-wrapper {
      padding: 32px 0;
    }

    .oe-text-image__media-wrapper {
      padding-top: calc(50% * 0.64);
      border-radius: 10px;
      min-width: 48% !important;
    }
    
    .oe-text-image__heading {
      font-weight: 500;
      font-size: 55px;
      line-height: 120%;
      margin: 0 0 16px;
    }

    .oe-text-image__heading-size--small {
      font-size: 32px;
      line-height: 120%;
    }
    
    .oe-text-image__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
    }

    .oe-text-image-content-position--left .oe-text-image__content-wrapper {
      order: 1;
    }
    
    .oe-text-image-content-position--left .oe-text-image__media-wrapper {
      order: 2;
    }
    
    .oe-text-image-content-position--right .oe-text-image__content-wrapper {
      order: 2;
    }
    
    .oe-text-image-content-position--right .oe-text-image__media-wrapper {
      order: 1;
    }
  }
{%- endstyle -%}

<section class="oe-text-image oe-text-image-content-position--{{ section.settings.desktop_content_position }} oe-text-image-content-mobile-position--{{ section.settings.mobile_content_position }}">
  <div class="oe-text-image__container container">
    {%- if section.settings.image != blank -%}
      <div class="oe-text-image__media-wrapper">
        {%-liquid
          assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        -%}
        {{ section.settings.image | image_url: width: 1300 | image_tag:
          loading: 'lazy',
          width: section.settings.image.width,
          height: image_height,
          class: "oe-text-image__media",
          alt: section.settings.image.alt | escape
        }}
      </div>
    {%- endif -%}
    <div class="oe-text-image__content-wrapper">
      <div class="oe-text-image__content">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h3 class="oe-text-image__heading oe-text-image__heading-size--{{ block.settings.heading_size }}">{{ block.settings.heading | escape }}</h3>
            {%- when 'text' -%}
              <p class="oe-text-image__text">{{ block.settings.text | escape }}</p>
            {%- when 'list_item' -%}
              <div class="oe-text-image__list-item">{% render 'icon-list-item' %}{{ block.settings.text | escape }}</div>
            {%- when 'buttons' -%}
              {%- if block.settings.button_label_1 != blank -%}
                {% render 'button', href: block.settings.button_link_1 , variation: 'primary', color: section.settings.text_color_scheme , size: 'big', label: block.settings.button_label_1 %}
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "OE Text/Image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Content position - desktop"
    },
    {
      "type": "select",
      "id": "mobile_content_position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "bottom",
      "label": "Content position - mobile"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Headline",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Complete Nutrition",
          "label": "Headline"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "small",
              "label": "Small"
            }
          ],
          "default": "default",
          "label": "Size"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "Text"
        }
      ]
    },
    {
      "type": "list_item",
      "name": "List item",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Organic Oats & Fiber Blend",
          "label": "Text"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "Label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "OE Text/Image",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
